body{
    /* SVG as background image (IE9/Chrome/Safari/Opera) */ 
background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0ODUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIxMDAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iIzAwMDBGRiIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0ZGNTI3MCIgb2Zmc2V0PSIwLjc0Ii8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzQ4NSkiIC8+Cjwvc3ZnPg==);
    margin:0;
    overflow:hidden;
}
.logo-bar{
    position:absolute;
    top:30%;
    height:50px;
    width:100%;
    background-color:transparent;
    align-items:center;
    text-align:center;
}
.logo-container{
    height:100%;
    width:70px;
    background-color:transparent;
    margin: 0 auto;
}
.logo{
    height:100%;
    margin:0 auto;
}
.emporyoum-bar{
    position:absolute;
    top:45%;
    height:50px;
    width:100%;
    background-color:transparent;
    align-items:center;
    text-align:center;
}
.emporyoum-container{
    height:100%;
    background-color:transparent;
    margin: 0 auto;
}
.emporyoum{
    height:100%;
    margin:0 auto;
}
.subtitle-bar{
    position:absolute;
    top:58%;
    height:50px;
    width:100%;
    background-color:transparent;
    align-items:center;
    text-align:center;
}
.subtitle-container{
    height:100%;
    background-color:transparent;
    margin: 0 auto;
    color:#ffffff;
    line-height:50px;
    font-size:30px;
    font-family: 'Open Sans';
    opacity:0.6;
    font-weight:100;
}
.continue-bar{
    position:absolute;
    top:70%;
    height:50px;
    width:100%;
    background-color:transparent;
    align-items:center;
    text-align:center;
}
.continue-container{
    height:100%;
    background-color:transparent;
    margin: 0 auto;
}
.continue{
    background: transparent;
  background-image: -webkit-linear-gradient(top, transparent, transparent);
  background-image: -moz-linear-gradient(top, transparent, transparent);
  background-image: -ms-linear-gradient(top, transparent, transparent);
  background-image: -o-linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(to bottom, transparent, transparent);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 2px 20px 3px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}
.continue:hover{
    cursor:pointer;opacity:0.7
}
