#products-cart-target{
    position:fixed;
    height:100%;
    font-size:2vh;
    right: -17px;
    background-color:white;
    -webkit-transition: all 400ms cubic-bezier(1,.01,.58,1) ;
   -moz-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
     -o-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
        transition: all 400ms cubic-bezier(1,.01,.58,1) ; /* linear */;
    -webkit-box-shadow: -7px 0px 30px 0px rgba(50, 50, 50, 0.09);
-moz-box-shadow:    -7px 0px 30px 0px rgba(50, 50, 50, 0.09);
box-shadow:         -7px 0px 30px 0px rgba(50, 50, 50, 0.09);
    padding:30px;
    box-sizing: border-box;
    overflow-y: scroll;
        top: 0;
    z-index: 5000;
        border-left: 1px solid #ccc;
}
#products-cart-info {
    margin-top:55px;
    width:60%;
    display:inline-block;
    background-color:#fff;
    font-family:'josefin sans';
    letter-spacing: normal;
}

#products-cart-info-number {
    width:40%;
    background-color:#f6f6f6;
    display:inline-block;
    background-color:#fff;
    font-family:'josefin sans';
    letter-spacing: normal;
}

.image-cart {
    width:95%;
    position:relative;
    height:0;
    padding-bottom:55%;
    display:inline-block;
    margin-top:20px;
    margin-right:5%;
    border-radius: 3px;
    background-size:cover;
    transition:all 200ms ease;
    
}
.image-cart:before{
 content:''   
}
.image-cart:hover{
    width:95%;
    padding-bottom:95%;
    cursor:pointer;
    display:block;
}
#checkout-top {
    margin-top:20px;
    text-align:right;
    width:95%;
    color:white;
    font-weight: bold;
    background-color:orange;
    font-family: 'josefin sans'
}

#checkout-bottom {
    margin-top:70px;
    text-align:right;
    width:95%;
    color:white;
    font-size:3vh;
    font-weight: bold;
    background-color:orange;
    font-family: 'josefin sans'
}

ul {
    padding:0;
    list-style-type: none;
}

#main-stroll {
    overflow:scroll;
    height:100%;
}

.circle-cart {
    height:30px;
    width:30px;
    background-color:#ccc;
    border-radius:200px;
    display:inline-block;
    box-sizing: border-box;
    color:white;
    font-weight:bold;
    padding-top:8px;
    text-align:center;
}

.info-image-cart {
    font-family: 'josefin sans';
    margin-top:5px;
}

.hidden-info {
    display:none;
}

#less-cart {
    position:absolute;
    top:5px;
    right:25px;
    height:20px;
}

#plus-cart {
    position:absolute;
    top:5px;
    right:5px;
    height:20px;
}

.checkout-button:hover {
    cursor:pointer;
    opacity:0.8;
}
