/*#products-cart-target{
    position:fixed;
    height:100%;
    font-size:2vh;
    right: -17px;
    background-color:white;
    -webkit-transition: all 400ms cubic-bezier(1,.01,.58,1) ;
   -moz-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
     -o-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
        transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
    -webkit-box-shadow: -7px 0px 30px 0px rgba(50, 50, 50, 0.09);
-moz-box-shadow:    -7px 0px 30px 0px rgba(50, 50, 50, 0.09);
box-shadow:         -7px 0px 30px 0px rgba(50, 50, 50, 0.09);
    padding:30px;
    box-sizing: border-box;
    overflow-y: scroll;
        top: 0;
    z-index: 5000;
        border-left: 1px solid #ccc;
}*/
#products-cart-info {
    margin-top:55px;
    width:60%;
    display:inline-block;
    background-color:#fff;
    font-family:'josefin sans';
    letter-spacing: normal;
}

#products-cart-info-number {
    width:40%;
    background-color:#f6f6f6;
    display:inline-block;
    background-color:#fff;
    font-family:'josefin sans';
    letter-spacing: normal;
}

.image-cart {
    width:95%;
    position:relative;
    height:0;
    padding-bottom:55%;
    display:inline-block;
    margin-top:20px;
    margin-right:5%;
    border-radius: 3px;
    background-size:100%;
    transition:all 200ms ease;
    
}
.image-cart:before{
 content:''   
}
.image-cart:hover{
    background-size: 110%;
    cursor: pointer;
}
#checkout-top {
    margin-top:20px;
    text-align: center;
    border-radius: 4px;
    padding: 4px;
    width:95%;
    color:white;
    font-weight: bold;
    background-color:#1bba9a;
    font-family: 'josefin sans';
}

#checkout-bottom {
        /* margin-top: 70px; */
    text-align: center;
    /* border-radius: 4px; */
    padding: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    line-height: 70px;
    width: 100%;
    color: white;
    font-size: 3vh;
    font-weight: bold;
    background-color: #1bba9a;
    font-family: 'josefin sans';
}

ul {
    padding:0;
    list-style-type: none;
}

#main-stroll {
    overflow:scroll;
    height:100%;
}

.circle-cart {
    height:30px;
    width:30px;
    background-color:#ccc;
    border-radius:200px;
    display:inline-block;
    box-sizing: border-box;
    color:white;
    font-weight:bold;
    padding-top:8px;
    text-align:center;
}

.info-image-cart {
    font-family: 'josefin sans';
    margin-top:5px;
        width: 155px;
}

.hidden-info {
    display:none;
}

#less-cart {
    position:absolute;
    top:5px;
    right:25px;
    height:20px;
}

#plus-cart {
    position:absolute;
    top:5px;
    right:5px;
    height:20px;
}

.checkout-button:hover {
    cursor:pointer;
    opacity:0.8;
}
#chiudi-cart{
        position: absolute;
    height: 20px;
    width: 20px;
    padding: 0;
    text-align: center;
    font-size: 2vh;
    border-radius: 2px;
    padding-right: 6px;
    line-height: 20px;
    padding-left: 5px;
    box-sizing: border-box;
    top: 60px;
    color: #C43B42;
    font-weight: bold;
    background-color: transparent;
    font-family: 'open sans';
    border: none;
}
.svuota-cart{
    background-color:transparent;
    border:1px solid rgba(100,0,0,0.3);
    border-radius:2px;
    color:#C43B42;
}
.svuota-cart:hover{
    cursor:pointer;
    color:white;
    background-color:#c43b42;
}
#chiudi-cart:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #C43B42;
}
