#products-cart-target{
    position:absolute;
    width:100%;
    top:50px;
    height:0;
    background-color:#e7e7e7;
    -webkit-transition: all 400ms cubic-bezier(1,.01,.58,1) ;
   -moz-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
     -o-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
        transition: all 400ms cubic-bezier(1,.01,.58,1) ; /* linear */;
}
#pattern{
    background-color:#f7f7f7;
    color:#cccccc;
    bottom:150px;
    height:15%;
    width:100%;
    left:0;
    position:absolute;
    text-align:center;
    font-family:'open sans';
    font-size:5vh;
}
#pattern:hover{
    color:#0c2d4d;
    cursor:pointer;
    border-bottom:dashed 1px rgba(12, 45, 77, 0.24);
}
.cart-infos{
    position:absolute;
    left:5%;
    top:10%;
    background-color:transparent;
    width:10%;
    height:65%;
    
}
.cart-infos-values{
    position:absolute;
    left:15%;
    top:10%;
    background-color:transparent;
    width:10%;
    height:65%;
    
}
.cart-summary{
    width:100%;
    height:20%;
    background-color:transparent;
    font-family:'open sans';
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
    text-align:left;
    padding:10%;
}
.cart-items-container{
    position:absolute;
    left:25%;
    top:5%;
    width:100%;
    background-color:transparent;
    height:75%;
    display:flex;
    overflow-x:scroll;
    overflow-y:hidden;
}
.object-container{
    width:14%;
    height:100%;
}
.cart-item-image{
    width:87%;
    height:0;
    padding-bottom:87%;
    background-color:white;
    border-radius: 13px 13px 13px 13px;
-moz-border-radius: 13px 13px 13px 13px;
-webkit-border-radius: 13px 13px 13px 13px;
border: 0px solid #000000;
}
.qt-name{
    width:100%;
    height:23%;
    background-color:transparent;
}
.cart-item-qt{
    width:27%;
    height:100%;
    background-color:#0c2d4d;
    display:inline-block;
    border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 0px solid #000000;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
    text-align:center;
    padding:8%;
    font-family:'open sans';
    color:white;
    font-size:2.5vh;
    
}
.cart-item-name{
    width:70%;
    height:100%;
    background-color:transparent;
    display:inline-block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
    text-align:center;
    font-family:'open sans';
    color:#0c2d4d;
    font-size:2vh;
    
}
.cart-add-item{
    width:28px;
    height:0;
    padding-bottom:28px;
    display:inline-block;
    float:right;
}
.cart-remove-item{
    width:28px;
    height:0;
    padding-bottom:28px;
    display:inline-block;
    float:right;
}
.cart-add-icon{
    height:28px;
}
.cart-remove-icon{
    height:28px
}
.buttoncart:hover{cursor:pointer;opacity:0.8}