/*#products-cart-target{
    position:fixed;
    height:100%;
    font-size:2vh;
    right: -17px;
    background-color:white;
    -webkit-transition: all 400ms cubic-bezier(1,.01,.58,1) ;
   -moz-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
     -o-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
        transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
    -webkit-box-shadow: -7px 0px 30px 0px rgba(50, 50, 50, 0.09);
-moz-box-shadow:    -7px 0px 30px 0px rgba(50, 50, 50, 0.09);
box-shadow:         -7px 0px 30px 0px rgba(50, 50, 50, 0.09);
    padding:30px;
    box-sizing: border-box;
    overflow-y: scroll;
        top: 0;
    z-index: 5000;
        border-left: 1px solid #ccc;
}*/
#products-cart-info {
    margin-top:55px;
    width:60%;
    display:inline-block;
    background-color:#C43B42;
    font-family:'josefin sans';
    letter-spacing: normal;
}

#products-cart-info-number {
    width:40%;
    background-color:#c43b42;
    display:inline-block;
    font-family:'josefin sans';
    letter-spacing: normal;
    font-weight: bold;
}

.image-cart {
    width:95%;
    position:relative;
    height:0;
    padding-bottom:55%;
    display:inline-block;
    margin-top:20px;
    margin-right:5%;
    border-radius: 3px;
    background-size:100%;
    transition:all 200ms ease;
    
}
.image-cart:before{
 content:''   
}
.image-cart:hover{
    background-size: 110%;
    cursor: pointer;
}
#checkout-top {
    margin-top:20px;
    text-align: center;
    border-radius: 0px;
    padding: 8px;
    width:140%;
    margin-left:-20%;
    color:white;
    font-weight: bold;
    background-color:#EF7707;
    font-family: 'josefin sans';
    box-sizing: border-box;
}

#checkout-bottom {
        /* margin-top: 70px; */
    text-align: center;
    /* border-radius: 4px; */
    padding: 0px;
    position: absolute;
    left: 0;
    height: 70px;
    line-height: 70px;
    width: 100%;
    color: white;
    font-size: 3vh;
    font-weight: bold;
    background-color: #EF7707;
    font-family: 'josefin sans';
}

ul {
    padding:0;
    list-style-type: none;
}

#main-stroll {
    overflow:scroll;
    height:100%;
}

.circle-cart {
    height: 25px;
    width: 25px;
    background-color: #6A313B;
    border-radius: 200px;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
}

.info-image-cart {
    font-family: 'josefin sans';
    margin-top:5px;
        width: 155px;
}

.hidden-info {
    display:none;
}

#less-cart {
    position:absolute;
    top:5px;
    right:25px;
    height:20px;
}

#plus-cart {
    position:absolute;
    top:5px;
    right:5px;
    height:20px;
}

.checkout-button:hover {
    cursor:pointer;
    opacity:0.8;
}
#chiudi-cart{
        position: absolute;
    height: 20px;
    width: 20px;
    padding: 0;
    text-align: center;
    font-size: 1.5vh;
    border-radius: 2px;
    padding-right: 5px;
    line-height: 20px;
    padding-left: 5px;
    box-sizing: border-box;
    top: 60px;
    color: black;
    font-weight: bold;
    background-color: rgba(0,0,0,0.2);
    font-family: 'open sans';
    border: none;
}
.svuota-cart{
        text-align: center;
    border-radius: 0px;
    border: 0px 0px 1px 0px solid white;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    /* border: 0px; */
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 8px;
    width: 140%;
    /* border: none; */
    margin-left: -20%;
    color: white;
    font-weight: bold;
    background-color: #c43b42;
    font-family: 'josefin sans';
    box-sizing: border-box;
}
.svuota-cart:hover{
    cursor:pointer;
    color:white;
    border-bottom: 1px solid rgba(255,255,255,0);
    background-color:#831F26;
}
#chiudi-cart:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #C43B42;
}
.dot-cart{
    display: inline-block; */
    border-bottom: 1px dotted rgba(255,255,255,0.5);
    /* width: auto; */
    margin: 0;
}
