
#form-coupon-container {
    width:85%;
    height:200%;
    position:absolute;
    top:100px;
    left:7.5%;
    min-width:1000px;
    min-height:300px;
    border-top:2px solid #0D2D4D;
    border-left:2px solid #0D2D4D;
    border-right:2px solid #0D2D4D;
}

#form-coupon-container {
}

#title-coupon {
    text-align:center;
    width:100%;
    height:50px;
    line-height:50px;
    font-family:'Open sans';
    font-size:4vh;
    font-weight:bold;
}

#image-coupon {
    width:100%;
    opacity:0;
}


body {
    min-width:500px;
    min-height:300px;
}

.fontlogo {
    
}

.text-logo {
    left:42%
}
textarea{
 resize: none;   
}


#blue-cont {
    position:absolute;
    background-color:rgba(100,120,255,0.9);
    opacity:1;
    width:90%;
    left:5%;
    height:18.6%;
    top:18.4%
}

.logo-coupon {
    position:absolute;
    width:20%;
    top:-15%;
    left:7%;
    opacity:0.8;
}

#blue-cont-head {
    position:absolute;
    background-color:rgba(100,120,255,0.9);
    opacity:1;
    width:90%;
    left:5%;
    height:2%;
    top:5.8%
}
#dotted-cont {
    z-index:-1;
    position:absolute;
    background-color:transparent;
    border-left:2px dotted black;
    border-right:2px dotted black;
    opacity:0.5;
    width:89.7%;
    left:5%;
    height:90%;
    top:7.4%
}
#form-image-container {
        position:relative;
        height:1800px;
}

#condizioni {
    position:absolute;
    background-color:transparent;
    opacity:0.5;
    width:60%;
    height:5%;
    top:45%;
    left:28%;
        /*border-bottom:2px dotted black;*/
}

#map-container {
    position:absolute;
    background-color:#0D2D4D;
    opacity:0.5;
    width:51.3%;
    height:0;
    padding-bottom:15%;
    top:45.5%;
    left:30%
}

#footer {
    position:Absolute;
    width:90%;
    left:5%;
    height:40%;
    top:58%;
    background-color:#ccc;
    background-size:100%;
    padding:5%;
    box-sizing: border-box;
    font-family:'open sans';
    font-size:2vh
}

#svgg {
    fill:black;float:left;
}

#svgcont {
    position:absolute;
    width:38.5%;
    top:25%;
    background-color:transparent;
    opacity:0.5;
    height:12%;
    left:5%
}

#logo-text-coupon {
    filter: brightness(0)
}

#logo-image-coupon {
    filter:brightness(0)
}

#image-cont {
    position:absolute;
    background-color:transparent;
    opacity:1;
    width:15%;
    left:78%;
    height:0;
    padding-bottom:18%;
    top:20%
}

#image-target {
    width:22%;
    height:80%;
    background-color:rgba(255,255,255,0.2);
    position:absolute;
    top:10%;
    right:2%;
    box-sizing: border-box
}
#image-target:hover{
}

#upload-image {
    position:absolute;
    bottom:0;
    width:100%;
    height:20%;
}
#upload-image:hover{
    cursor:pointer;
}
#send-coupon {
    position:absolute;
    right:8%;
    top:54%;
}
#send-coupon:hover{
    cursor:pointer
}

#list {
        position: absolute;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:transparent;
}

#files {
        position: absolute;
    top:-26%;
    z-index:1000;
    background-color:transparent;
}
#files:hover{
   cursor:pointer; 
}
#vaucher-text {
    position:absolute;
    background-color:TRANSPARENT;
    opacity:1;
    width:31.5%;
    left:1.5%;
    height:4%;
    top:0%;
    color:orange;
    font-size:8vh;
    text-align:center;
    font-family:'pacifico';
}
#image-guide {
    width:22%;
    height:35px;
    line-height:35px;
    background-color:transparent;
    position:absolute;
    right:2%;
    top:-12%;
    font-size:2.5vh;
    text-align:center;
    color:black;
    font-family: 'pacifico'
}

#product-title {
    position:absolute;
    width:80%;
    left:0%;
    height:20%;
    top:-58%;
    line-height:100%;
    background-color:transparent;
    font-size:6vh;
    border:none;
    font-family:'open sans';
    outline:0px;
}

#product-altreinfo {
    position:absolute;
    width:80%;
    left:0%;
    height:15%;
    top:-36%;
    line-height:100%;
    background-color:transparent;
    font-size:4vh;
    border:none;
    font-family:'open sans';
    outline:0px;
}

#option-cont {
    position:absolute;
    background-color:transparent;
    opacity:1;
    width:58%;
    left:5%;
    height:58.6%;
    top:38.4%
}

#details-cont {
    position:absolute;
    background-color:transparent;
    opacity:1;
    width:30.5%;
    right:5%;
    height:58.6%;
    top:38.4%
}

#add-option {
    text-align:center;
    width:100%;
    height:80px;
    line-height:40px;
    font-family:'open sans';
    font-size:30px;
    margin-top:5px;
    background-color:transparent;
}

#add-detail {
    text-align:center;
    width:100%;
    height:80px;
    line-height:40px;
    font-family:'open sans';
    font-size:30px;
    margin-top:5px;
    background-color:transparent;
}

.adder:hover {
    cursor:pointer;
    background-color:#b6b6b6 !important;
}

.new-detail {
    text-align:left;
    padding-left:15px;
    width:100%;
    position:relative;
    box-sizing: border-box;
    /*height:80px;*/
    line-height:40px;
    font-family:'open sans';
    font-size:30px;
    margin-top:0px;
    padding-bottom:10px;
    background-color:rgba(100,120,255,0.9);
    border:5px solid #fff
}

.key {
    border:1px solid #ccc;
    width:40%;
    font-family:'open sans';
    outline:0px;
    height:40px;
    margin-top:20px;
    line-height:40px;
}

.value {
    border:1px solid #ccc;
    width:40%;
    font-family:'open sans';
    outline:0px;
    height:40px;
    margin-top:20px;
    line-height:40px;
}

.detail {
    border-radius:4px;
    padding:1px;
    margin-right:20px;
}

.delete-detail {
    position:absolute;
    right:5px;
    top:5x;
    font-size:2vh;
    background-color:transparent;
    height:14px;
        line-height:14px;
    
}
.delete-detail:hover{
    cursor:pointer;
}

.new-option {
    text-align:left;
    padding-left:15px;
    width:100%;
    position:relative;
    box-sizing: border-box;
    /*height:80px;*/
    line-height:40px;
    font-family:'open sans';
    font-size:30px;
    margin-top:0px;
    padding-bottom:10px;
    background-color:rgba(100,120,255,0.9);
    border:5px solid #fff
}

.delete-option {
    position:absolute;
    right:5px;
    top:5x;
    font-size:2vh;
    background-color:transparent;
    height:14px;
        line-height:14px;
}
.delete-option:hover{
    cursor:pointer;
    transform:scale(1.2)
}

.option {
    border-radius:4px;
    padding:1px;
}

.priceName {
    border:1px solid #ccc;
    width:40%;
    font-family:'open sans';
    outline:0px;
    height:40px;
    margin-top:20px;
    line-height:40px;
}

.optionName {
    border:1px solid #ccc;
    width:40%;
    font-family:'open sans';
    outline:0px;
    height:40px;
    margin-top:20px;
    margin-right:20px;
    line-height:40px;
}

.image-target-option {
    height:0;
    padding-bottom:7.5%;
    width:7.5%;
    background-color:rgba(255,255,255,0.4);
    right:8%;
    position:absolute;
    border-radius:6px;
    top:22%;
}
.image-target-option:hover{
   transform:scale(1.1) 
}

#category-target {
    position:absolute;
    right:17%;
    top:37%;
}

#categorie-testo {
    position:absolute;
    right:8%;
    top:8%;
    font-family:'pacifico'
}

#product-descrizione {
    right:28%;
    background-color:rgba(255,255,255,0.9);
    position:absolute;
    top:10%;
    border-radius:2px;
    height:80%;
    width:25%;
    z-index:1000;
    font-family:'open sans';
    box-sizing: border-box;
}
.main-image{
    height:24%;
    margin:1%;
}

#manda-coupon {
    position:absolute;
    right:5%;
    top:0%;
    width:25%;
    height:50px;
}

#coupbod {

}
