/*CONVENZIONI ALWAYS*/
/*.ln = line - usare per elementi che a livello di layout del parent rappresentano una linea*/
/*.lb = label - usare per elementi che a livello di layout contencono delle label*/
/*.v = value - usare per elementi che a livello di layout contengono dei dati*/
/*.g = group - usare per suddividere in gruppi all'interno di un parent*/
/*.n1,.n2,.. - usare per definire sotto varanti di una classe*/
/*CONVENZIONI PER QUESTO FILE*/

/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------MASTER LAYOUT*/
.fontlogo{font-family:arial;font-size:48px;line-height:50px;color:#eee;}
.fontlogo b{font-size:48px;line-height:50px;color:#eee}
/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*---------------------------------------------MAIN LAYOUT : STANDARD PROPS + HIDDEN PROPS*/
#google-map-container{position:absolute;display:flex;background-color:transparent;height:40%;
						/*hidden mode*/width:0%;left:-0.5%;top:-32%;justify-content: flex-start;}
#product-main-container{min-width:740px;height:100%;width:100%;background-color: transparent;
						/*hidden mode*/z-index:0;margin-top:10%;}
#product-page-target{/*hidden mode*/margin-top:0%;z-index:0;}
#checkout-main-container{display:none}
#categories-container{position:fixed;width: 20%;top: 13.2%;left:-25%;height: 100%; background-color: transparent;}
/*-----------------------------------------------------------------------PRODUCT PAGE MODE*/
body.Pmode #product-page-target{margin-top:0%;}
body.Pmode .zero-thumb{display:none}
body.Pmode .zero-thumb.selected {display:block;width:100%;}
body.Pmode .zero-thumb.selected .thumb-product{display:none}
body.Bmode .zero-thumb .product-info-main{position:fixed;top:0px;left:0px;}
/*-------------------------------------------------------------------------PRODUCT BROWSER*/
body.Bmode #categories-container{left: 3.5%;}
body.Bmode #product-main-container{margin-top:6.3%;z-index:1;display:block}
body.Bmode.map-isin #product-main-container{margin-top:26.3%;}
body.Bmode.map-isin #google-map-container{justify-content:center;top:13%;width:100%}
body.Bmode .zero-thumb .product-info-main{display:none}
body.Bmode .zero-thumb {overflow:hidden}
/*---------------------------------------------------------------------------CHECKOUT MODE*/
body.Cmode #checkout-main-container{display:block;}
/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------TRANSITION TIMING FUNCTIONS*/
.transition-1{-webkit-transition: all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
.transition-2{-webkit-transition: all 400ms cubic-bezier(1,.01,.58,1);-moz-transition: all 400ms cubic-bezier(1,.01,.58,1);-o-transition: all 400ms cubic-bezier(1,.01,.58,1);transition: all 400ms cubic-bezier(1,.01,.58,1);}
.transition-3{-webkit-transition: all 1s ease-out;-moz-transition:all 0.4s ease-out;-ms-transition: all 0.4s ease-out;-o-transition:all 0.4s ease-out;transition:all 0.4s ease-out;}