/*CONVENZIONI ALWAYS*/
/*.ln = line - usare per elementi che a livello di layout del parent rappresentano una linea*/
/*.lb = label - usare per elementi che a livello di layout contencono delle label*/
/*.v = value - usare per elementi che a livello di layout contengono dei dati*/
/*.g = group - usare per suddividere in gruppi all'interno di un parent*/
/*.n1,.n2,.. - usare per definire sotto varanti di una classe*/
/*CONVENZIONI PER QUESTO FILE*/

/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------MASTER LAYOUT*/
.fontlogo{font-family:arial;font-size:48px;line-height:50px;color:#eee;}
.fontlogo b{font-size:48px;line-height:50px;color:#eee}
/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*---------------------------------------------MAIN LAYOUT : STANDARD PROPS + HIDDEN PROPS*/
#google-map-container{position:absolute;display:flex;background-color:transparent;height:40%;
						/*hidden mode*/width:0%;left:-0.5%;top:-32%;justify-content: flex-start;}
#product-main-container{min-width:740px;height:100%;width:100%;background-color: transparent;
						/*hidden mode*/z-index:0;margin-top:10%;}
#product-page-target{/*hidden mode*/margin-top:0%;z-index:0;}
#checkout-main-container{display:none}
#categories-container{position:fixed;width: 20%;top: 13.2%;left:200%;height: 100%; background-color: transparent;}
/*----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------PRODUCT PAGE MODE*/
body.Pmode #product-page-target{margin-top:0%;}
body.Pmode .zero-thumb{display:none}
body.Pmode .zero-thumb.selected {display:block;width:100%;}
body.Pmode .zero-thumb.selected .thumb-product{display:none}
body.Pmode .zero-thumb .product-info-main{position:absolute;width:100%;top:-35%;left:-22%;}
/*----------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------PRODUCT BROWSER*/
body.Bmode #categories-container{left: 3.5%;}
body.Bmode #product-main-container{margin-top:6.3%;z-index:1;display:block}
body.Bmode.map-isin #product-main-container{margin-top:26.3%;}
body.Bmode.map-isin #google-map-container{justify-content:center;top:13%;width:100%}
body.Bmode .zero-thumb .product-info-main{display:none}
body.Bmode .zero-thumb {overflow:hidden}
/*----------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------CHECKOUT MODE*/
body.Cmode #checkout-main-container{display:block;}
/*----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------LAYOUT INDEPENTEND CART*/
#products-cart-target{position:fixed;top:0;right:-17px;z-index:5000;overflow-y: scroll;
    height: 100%;padding:30px;font-size: 2vh;background-color: white;
    box-sizing: border-box;border-left: 1px solid #ccc;
	 -webkit-box-shadow: -7px 0px 30px 0px rgba(50, 50, 50, 0.09); -moz-box-shadow: -7px 0px 30px 0px rgba(50, 50, 50, 0.09);box-shadow: -7px 0px 30px 0px rgba(50, 50, 50, 0.09);
	 /*hidden*/transform: translateX(100%);}
#basket-container{position:fixed;z-index:100;top:0;right:5%;cursor:pointer;height:100%;width:50px;background-color:transparent;}
#basket{position:absolute;width:9vmin;top:-77vh;transition-delay:250ms}
body.cart-isin #basket{top:-100%;transition-delay:0ms}
body.cart-isin #products-cart-target{display:block;right:-17px;transform: translateX(0%);transition-delay:250ms}
/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------TRANSITION TIMING FUNCTIONS*/
.transition-1{-webkit-transition: all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
.transition-3{-webkit-transition: all 400ms cubic-bezier(1,.01,.58,1);-moz-transition: all 400ms cubic-bezier(1,.01,.58,1);-o-transition: all 400ms cubic-bezier(1,.01,.58,1);transition: all 400ms cubic-bezier(1,.01,.58,1);}
.transition-2{-webkit-transition: all 0.4s ease-out;-moz-transition:all 0.4s ease-out;-ms-transition: all 0.4s ease-out;-o-transition:all 0.4s ease-out;transition:all 0.4s ease-out;}