/*CONVENZIONI ALWAYS*/
/*.ln = line - usare per elementi che a livello di layout del parent rappresentano una linea*/
/*.lb = label - usare per elementi che a livello di layout contencono delle label*/
/*.v = value - usare per elementi che a livello di layout contengono dei dati*/
/*.g = group - usare per suddividere in gruppi all'interno di un parent*/
/*.n1,.n2,.. - usare per definire sotto varanti di una classe*/
/*CONVENZIONI PER QUESTO FILE*/

/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------MASTER LAYOUT*/
.fontlogo{font-family:arial;font-size:48px;line-height:50px;color:#eee;}
.fontlogo b{font-size:48px;line-height:50px;color:#eee}
/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*---------------------------------------------MAIN LAYOUT : STANDARD PROPS + HIDDEN PROPS*/
#google-map-container{position:absolute;margin-top:97px;width:61.3%;display:flex;top:0;min-width:515px;
								left:25.6%;justify-content: flex-start;background-color:transparent;height:40%;
						/*hidden mode*/transform:translateY(-120%)}
#google-map-container .google-map{overflow: hidden;height: 99%; width: 100%; background-color: rgb(229, 227, 223);}
#categories-container{position:fixed;width: 20%;top:90px;left: 3.5%;height: 100%; background-color: transparent;;overflow-y:auto;margin-bottom:200px;
						/*hidden mode*/transform:translateX(-120%)}
#product-main-container{min-width:740px;height:100%;width:100%;background-color: transparent;
						/*hidden mode*/z-index:0;margin-top:90px;}
#checkout-main-container{display:none}
#basket-container{transform:scaleY(1);}
#basket{cursor:pointer}
.-b.menu{display:none}

.product-info-main{
    margin-top:100px;
    z-index:500;
    margin-left:13%;
    width: 74%;
    position:relative;
    background-color:#e6e6e6;
    font-family: 'josefin sans';
    letter-spacing: 0px;
    font-size:2.2vmin;
    line-height:15px;
    font-weight:400;
}
.thumb-container {
       display: inline-block;
    position: relative;
    width: 32%;
    float: left;
    height: 0;
    padding-bottom: 22%;
    min-width: 146px;
    min-height: 100px;
}
/*----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------PRODUCT PAGE MODE*/
body.Pmode .zero-thumb{display:none}
body.Pmode .zero-thumb.selected {display:block;width:100%;}
body.Pmode .zero-thumb.selected .thumb-product{display:none}
body.Pmode .zero-thumb .product-info-main{position:absolute;width:100%;top:-35%;left:-22%;}
/*----------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------PRODUCT BROWSER*/
body.Bmode #categories-container{transform:translateX(0%);}
body.Bmode,body.Pmode #product-main-container{margin-top:6.3%;z-index:1;display:block}
body.Bmode.map-isin #product-main-container{margin-top:28.7%;}
body.Bmode.map-isin #google-map-container{justify-content:center;transform:translateY(0%);}
body.Bmode .zero-thumb .product-info-main{display:none}
body.Bmode .zero-thumb {overflow:hidden}
/*----------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------CHECKOUT MODE*/
body.Cmode #checkout-main-container{display:block;}
body.Cmode #product-main-container,body.Cmode #basket,body.Cmode #basket-container,body.Cmode #rope{display:none;}
/*----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------LAYOUT INDEPENTEND CART*/
#products-cart-target{position:fixed;top:0;right:-17px;z-index:900;overflow-y: hidden;
    height: 100%;padding:30px;font-size: 2vh;background-color: #c43b42;
    box-sizing: border-box;border-left: 2px solid #862727;
	 -webkit-box-shadow: -7px 0px 30px 0px rgba(50, 50, 50, 0.09); -moz-box-shadow: -7px 0px 30px 0px rgba(50, 50, 50, 0.09);box-shadow: -7px 0px 30px 0px rgba(50, 50, 50, 0.09);
	 /*hidden*/transform: translateX(100%);}
#basket-container{position:fixed;z-index:4000000000001;top:0;right:5%;cursor:pointer;height:100%;width:50px;background-color:transparent;}
#basket{position:fixed;width:9vmin;top:50px;right:6%;transform:translateY(-74.9%);transform-origin: top;transition-delay:250ms}
#bought-container{position:fixed;width: 9vmin;top: 100px;right: 6%;padding-left: 4.5vmin;
    box-sizing: border-box;
    transform: translateY(-74.9%);transform-origin: top;transition-delay: 250ms;}
#rope{position:fixed;width:9vmin;right:6%;height:100%;top:50px;transform:translateY(0%) scaleY(0.23);transition-delay:250ms;z-index:0;transform-origin:top}
body.cart-isin #basket{transform: translateY(-90.05%) scale(0.9);transition-delay:0ms}
body.cart-isin #basket-container{transform:scaleY(0);}
body.cart-isin #profile-button {}
body.cart-isin #rope{transform:translateY(0) scaleY(0);transition-delay:0ms}
body.cart-isin #products-cart-target{display:block;right:-17px;transform: translateX(0%);transition-delay:250ms;overflow-x: hidden;    color: #f2f2f2;min-width: 17%;}
.flag{display: block;
    background-color:transparent;
    width:9vmin;
    height:20px;
    line-height:20px;
    color:#f7f7f7;
    font-family:'Open sans';
     border-top:10px solid #c43b42;
 border-bottom:10px solid #c43b42;
 /* Don't set the left border */
 border-right:10px solid transparent; /* Right one transparent */
 height:0px;  /* Remove Height */
}
.flag-text{top:-10px;left:3px;position:relative;color:white;text-align:center;}
.flag-text:hover{cursor:pointer;opacity:0.7;}
/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------VERTICAL FIXES*/
body.vertical #categories-container {transform:translateX(-120%);top:50px;left:0%;z-index: 1002;background-color:rgba(235,234,235,0.95);}
body.vertical.cat-isin #categories-container {transform: translateX(0%);
    width: 66%;
    height: 96%;
    padding-left: 5%;
    padding-top: 4%;}
body.vertical #product-main-container {width: 100%;margin-left: 0%;text-align: center;min-width:0px;}
body.vertical.map-isin #product-main-container {width: 100%; margin-left: 0%;margin-top:56vh}
body.Pmode.vertical.map-isin #product-main-container {margin-top:10vh}
body.vertical #thumb-wrap{width: 100%;}  
body.vertical .logo-text-sx{display:none}
body.vertical .hamburger{display:none}
body.vertical .usr-image{display:none}
body.vertical .language-select{display:none}
body.vertical #basket{position: fixed;width: 30px;top: 0;left: 10%;z-index: 1001;-webkit-filter: brightness() hue-rotate);transform: translateY(-89.9%);}
body.vertical #bought-container{    position: fixed;width: 9vmin;top: 32px;left: 15%;z-index: 1001;padding-left: 4.5vmin;box-sizing: border-box;transform: translateY(-74.9%);transform-origin: top;transition-delay: 250ms;}
body.vertical #rope{display:none}
  /*  */
body.vertical .products-container{display:inline-block;width:100%;}
body.vertical #basket {-webkit-filter: brightness(10);}
body.vertical .-b.menu{display:block;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;}
body.vertical {min-width:0px;text-align:center;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f6f6+0,e5e5e5+27,dbdbdb+42,dbdbdb+57,e5e5e5+75,f6f6f6+100 */
background: rgb(246,246,246); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(246,246,246,1) 0%, rgba(229,229,229,1) 27%, rgba(219,219,219,1) 42%, rgba(219,219,219,1) 57%, rgba(229,229,229,1) 75%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(246,246,246,1) 0%,rgba(229,229,229,1) 27%,rgba(219,219,219,1) 42%,rgba(219,219,219,1) 57%,rgba(229,229,229,1) 75%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(246,246,246,1) 0%,rgba(229,229,229,1) 27%,rgba(219,219,219,1) 42%,rgba(219,219,219,1) 57%,rgba(229,229,229,1) 75%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 */



}
body.vertical .thumb-element {    width: 90.2vw;
    /* height: 75vw; */
    border: 0.6vw solid white;
    margin-top: 20px;
    margin-top: 20px;}
body.vertical .thumb-product {margin:2vmin}
body.vertical .thumb-container {width: 95vw;
    height: 95vw;    float: none;
    min-width:0px;
    min-height:0px;padding-bottom: 0%; */
}
body.vertical .thumb-dummy { padding-top:0%; }
body.vertical  #google-map-container{width:80%;display:inline-block;top:0;min-width:0px;left:10%;
						background-color:transparent;height:40vh;}
body.vertical  #google-map-container .google-map{
	overflow: hidden;height: 99%; width: 100%; background-color: rgb(229, 227, 223);}

body.Pmode.vertical #product-main-container {margin-top:10vh  ;  width: 90%;
    margin-left: 5%;}
body.Pmode.vertical .product-info-main{margin:0   ; top: 0;
    left: 0;}
/*PRODUCT PAGE*/
body.Pmode.vertical .left-column-pro{
    width:100%
}
body.Pmode.vertical .right-column-pro{
    width:100%;
    position:relative;
}
body.Pmode.vertical .main-desc-container{
    height:100px;
}
/*CHECKOUT PAGE*/
body.Cmode.vertical .circle-step{
    display:none;
}
body.Cmode.vertical .single-container{
    width:92vw;
}
body.Cmode.vertical .left-square{
    width:93vw;
}
body.Cmode.vertical #button-social-container{
    display:none;
}
body.Cmode.vertical .login-button-checkout{
    border:none;
    left:25%;
}
body.Cmode.vertical #checkout-progress-container{
    display:none;
}
body.Cmode.vertical .menu-opened{
    left:1%;
    width:99vw;
}
/*body   /* min-width: 840px !important; */
/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------TRANSITION TIMING FUNCTIONS*/
.transition-1{-webkit-transition: all 500ms ease;-moz-transition:all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
.transition-2{-webkit-transition: all 500ms cubic-bezier(1,.01,.58,1);-moz-transition: all 400ms cubic-bezier(1,.01,.58,1);-o-transition: all 400ms cubic-bezier(1,.01,.58,1);transition: all 400ms cubic-bezier(1,.01,.58,1);}
.transition-3{-webkit-transition: all 500ms ease-out;-moz-transition:all 0.4s ease-out;-ms-transition: all 0.4s ease-out;-o-transition:all 0.4s ease-out;transition:all 0.4s ease-out;}

.transition-S{-webkit-transition: all 500ms cubic-bezier(0.295, 0, 0.320, 1.000); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.295, -0.600, 0.320, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.295, -0.600, 0.320, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.295, -0.600, 0.320, 1.000); 
        transition: all 500ms cubic-bezier(0.295, -0.600, 0.320, 1.000); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.295, 0, 0.320, 1.000); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.295, -0.600, 0.320, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.295, -0.600, 0.320, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.295, -0.600, 0.320, 1.000); 
        transition-timing-function: cubic-bezier(0.295, -0.600, 0.320, 1.000); /* custom */}
.flag.check{
    display: block;
    background-color: transparent;
    width: 13vmin;
    height: 20px;
    line-height: 20px;
    color: #f7f7f7;
    font-family: 'Open sans';
    border-top: 20px solid #c43b42;
    border-bottom: 20px solid #c43b42;
    border-right: 10px solid transparent;
    height: 0px;
}
.flag-text.check{
    top: -20px;
    left: 3px;
    position: relative;
    color: white;
    text-align: center;
}
.flagcheck{
    color: #e6e6e6;
}	  

