/*CONVENZIONI ALWAYS*/
/*.ln = line - usare per elementi che a livello di layout del parent rappresentano una linea*/
/*.l = label - usare per elementi che a livello di layout contencono delle label*/
/*.v = value - usare per elementi che a livello di layout contengono dei dati*/
/*.g = group - usare per suddividere in gruppi all'interno di un parent*/
/*.n1,.n2,.. - usare per definire sotto varanti di una classe*/
/*CONVENZIONI PER QUESTO FILE*/
/*.li = line - usare per elementi che a livello di layout del parent rappresentano una linea*/

/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------MASTER LAYOUT*/

.fontlogo{font-family:arial;font-size:48px;line-height:50px;color:#eee;}
.fontlogo b{font-size:48px;line-height:50px;color:#eee}
/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------PRODUCT BROWSER*/

/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------TRANSITION TIMING FUNCTIONS*/
.transition-1{-webkit-transition: all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}

#products-cart-target{
    position:absolute;
    width: 20%;
    min-width: 300px;
    top: 50px;
    right: 0px;
    background-color:#e7e7e7;
    -webkit-transition: all 400ms cubic-bezier(1,.01,.58,1) ;
   -moz-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
     -o-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
        transition: all 400ms cubic-bezier(1,.01,.58,1) ; /* linear */;
}
