body{
    background-color:#f6f6f6;
    margin:0;
    overflow-x:hidden;
}
body,html{
    min-width:840px !important;
}
.header{
    background-color:#c43b42; 
    height:50px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display: flex;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.29);
-moz-box-shadow:    0px 10px 30px 0px rgba(50, 50, 50, 0.29);
box-shadow:         0px 10px 30px 0px rgba(50, 50, 50, 0.29);
    z-index:1000;
    min-width:740px;
}
.header-admin{
    background-color:#c43b42;
    height:50px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display: flex;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.29);
-moz-box-shadow:    0px 10px 30px 0px rgba(50, 50, 50, 0.29);
box-shadow:         0px 10px 30px 0px rgba(50, 50, 50, 0.29);
    z-index:400000000000000000000000000;
    min-width:740px;
}
.logo-container{
    height:60%;
    width:25%;
    background-color:transparent;
    margin-left:0;
    align-self: center;
    justify-content: center;
    display: flex;
}
.logo{
    height:100%;
    margin:0 auto;
}
.logo:hover{cursor:pointer}
#header-items-container{
    height:60%;
    width:50%;
    background-color:transparent;
    margin-left:0;
    min-width:500px;
    align-self: center;
    display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	justify-content:center;
}
.map-icon{
    height:100%;
}
.item-container{
    -webkit-flex: 1 0 auto;
	flex: 1 0 auto;
    line-height:30px;
    font-size:2vh;
    color:white;
    font-family:'open sans';
    height:100%;
}
.item-container:hover{
    cursor:pointer;opacity:0.7;
}
.ham-square{
    position:fixed;
    top:0;
    left:0;
    height:50px;
    width:70px;
    background-color:transparent;
}
.ham-container{
    height:100%;
    width:100%;
    background-color:transparent;
    display: flex;
    justify-content: center;
}
.ham{
    height:40%;
    margin:0 auto;
    align-self: center;
}
.ham:hover{cursor:pointer}
.emporyoum-bar{
    position:absolute;
    top:14%;
    height:40px;
    width:100%;
    min-width:740px;
    background-color:transparent;
    align-items:center;
    text-align:center;
    -webkit-transition: all 400ms cubic-bezier(1,.01,.58,1) ;
   -moz-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
     -o-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
        transition: all 400ms cubic-bezier(1,.01,.58,1) ; /* linear */
}
.emporyoum-bar-finish{
    position:absolute;
    top:13%;
    height:40px;
    width:25%;
    background-color:transparent;
    align-items:center;
    text-align:center;
    -webkit-transition: all 400ms cubic-bezier(1,.01,.58,1) ;
   -moz-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
     -o-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
        transition: all 400ms cubic-bezier(1,.01,.58,1) ; /* linear */
}
/*.emporyoum-container{
    height:100%;
    background-color:transparent;
    margin: 0 auto;
}*/
.emporyoum{
    width:25%;
    margin:0 auto;
}
/*moved in digital.css .products-main{
    position:absolute;
    width:100%;
    height:100%;
    top:25%;
   
}*/
.products-container{
    background-color:transparent;
    width:50%;
    height:100%;
    margin:0 auto;
}
/*
#basket-container{
    z-index:100;
    position:fixed;
    right:5%;
    top:0;
    height:100%;
    width:50px;
    background-color:transparent;
    -webkit-transition: all 400ms cubic-bezier(1,.01,.58,1) ;
   -moz-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
     -o-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
        transition: all 400ms cubic-bezier(1,.01,.58,1) ;
}
#basket-container:hover{cursor:pointer}
#basket{
    width:9vmin;
    top:-77vh;
    position:absolute;
    -webkit-transition: all 400ms cubic-bezier(.56,.57,.54,1.24);
   -moz-transition: all 400ms cubic-bezier(.56,.57,.54,1.24); 
     -o-transition: all 400ms cubic-bezier(.56,.57,.54,1.24); 
        transition: all 400ms cubic-bezier(.56,.57,.54,1.24); 
}*/
.cat-cont{
    height:50px;
    width:94%;
    margin-left:0 auto;
    margin-right:0 auto;
    background-color:#fff;
    color:#c43b42;
    font-family:'Open sans';
    text-align:center;
    line-height:50px;
    border-radius:4px 4px 4px 4px;
    margin-bottom:15px;
}
.cat-cont:hover{
    cursor:pointer;
    color:white;
    background-color:#c43b42;
}
.cat-searchbar{
    height:25px;
    width:100%;
    margin-left:0 auto;
    margin-right:0 auto;
    background-color:transparent;
    color:#c43b42;
    font-family:'Open sans';
    text-align:center;
    line-height:50px;
    border-radius:4px 4px 4px 4px;
    margin-bottom:25px;
}
.cat-searchbar:hover{
    cursor:pointer;
}
.categories-container .cat-cont.selected{
    color:white;
    background-color:#c43b42;
}
.search{
    height:0;
    width:94%;
    margin-left:0 auto;
    margin-right:0 auto;
    background-color:#eeeeee;
    color:#c43b42;
    font-family:'Open sans';
    text-align:center;
    line-height:50px;
    border-radius:4px 4px 4px 4px;
    margin-bottom:15px;
    display:none;
}
.search:hover{background-color:transparent;color:white;cursor:pointer;}
.text-logo{
    position:absolute;
    margin:-2px auto;
    background-color:transparent;
    height:100%;
    left:49%;
}
.logo-text{
    height: 50%;
    margin-top: 5px;
        z-index: 5000000;
}
.logo-text:hover{cursor:pointer}
.category{
    height: 25px;
    line-height: 25px;
    text-align: center;
    /* width: auto; */
    padding: 5px;
    display: inline-block;
    margin-bottom: 5px;
    background-color: #dddddd;
    color: #333333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.category:hover{
    background-color:#4d4d4d;
    cursor:pointer;
    color:white;
}
.category.select{
    -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: 'Open sans';
  color: black;
  background: #9e9eff !important;
  text-decoration: none;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 0.6px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: rgba(12, 45, 63, 0.21);
  border-radius: 6.4px;
  border: 2.3px solid rgba(0, 1, 1, 0.16);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.2px 1.2px 5.3px #000036, 0px 0px 1.2px #000050;
  border: 1.5px solid #000000;
  height: 12px;
  width: 16px;
  border-radius: 2px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(12, 45, 63, 0.21);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: rgba(12, 45, 63, 0.21);
  border-radius: 6.4px;
  border: 2.3px solid rgba(0, 1, 1, 0.16);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1.2px 1.2px 5.3px #000036, 0px 0px 1.2px #000050;
  border: 1.5px solid #000000;
  height: 12px;
  width: 16px;
  border-radius: 2px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(12, 45, 63, 0.21);
  border: 2.3px solid rgba(0, 1, 1, 0.16);
  border-radius: 12.8px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: rgba(12, 45, 63, 0.21);
  border: 2.3px solid rgba(0, 1, 1, 0.16);
  border-radius: 12.8px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 1.2px 1.2px 5.3px #000036, 0px 0px 1.2px #000050;
  border: 1.5px solid #000000;
  height: 12px;
  width: 16px;
  border-radius: 2px;
  background: #ffffff;
  cursor: pointer;
  height: 10.8px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(12, 45, 63, 0.21);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(12, 45, 63, 0.21);
}

.rangevalue{color:black;font-family:'Open sans'}


label {position:relative}
label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}
@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */


fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	line-height: 1.5em;
	margin: 0;
	outline: none;
	padding: 0;
	-webkit-appearance: none;
}
input[type=radio]{-webkit-appearance:radio !important}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
	content: "";
	display: table;	
}
.clearfix:after { clear: both; }

.container {
	height: 44px;
	left: 50%;
	margin: -22px 0 0 -141px;
	position: absolute;
	top: 50%;
}

/* ---------- SEARCH ---------- */

#search {
	background: transparent;
	border-radius: 3px;
	display: inline-block;
	padding: 7px;
    width:96%;
}

#search input {
	float: left;
}

#search input[type="search"],
#search input[type="submit"] {
	border-radius: 3px;
	font-size: 12px;
}

#search input[type="search"] {
	background: #fff;
	color: #42454e;
    width:55%;
	padding: 6px 8px;
}

#search input[type="submit"] {
	background: #1bba9a;
	color: #fff;
	font-weight: bold;
    width:30%;
	padding: 6px 10px;
}

#search input[type="submit"]:hover {
	background: #189e83;cursor:pointer;
}

#search input[type="search"]::-webkit-input-placeholder { color: #42454e; }
#search input[type="search"]:-moz-placeholder { color: #42454e; }
#search input[type="search"]:-ms-input-placeholder { color: #42454e; }

.transformed{
    transform: scale(0) scaleZ(0.2) rotateX(16deg) rotateY(164deg);
transform-origin: 0% 0%;
perspective: 200;-webkit-transform: scale(0) scaleZ(0.2) rotateX(16deg) rotateY(164deg);
-webkit-transform-origin: 0% 0%;
-webkit-perspective: 200;
-webkit-perspective-origin: 50% 50%;
-moz-transform: scale(0) scaleZ(0.2) rotateX(16deg) rotateY(164deg);
-moz-transform-origin: 0% 0%;
-moz-perspective: 200;
-moz-perspective-origin: 50% 50%;
-o-transform: scale(0) scaleZ(0.2) rotateX(16deg) rotateY(164deg);
-o-transform-origin: 0% 0%;
-o-perspective: 200;
-o-perspective-origin: 50% 50%;
-ms-transform: scale(0) scaleZ(0.2) rotateX(16deg) rotateY(164deg);
-ms-transform-origin: 0% 0%;
-ms-perspective: 200;
-ms-perspective-origin: 50% 50%;
transform: scale(0) scaleZ(0.2) rotateX(16deg) rotateY(164deg);
transform-origin: 0% 0%;
perspective: 200;
perspective-origin: 50% 50%;
}

#profile-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    padding: 14px;
    background-color: transparent;
    box-sizing: border-box;
    color: white;
    font-family: 'josefin sans';
}
#profile-button:hover{
    cursor:pointer;   
}
.bottone-opzione{
        height: 25px;
    line-height: 12px;
    font-family: 'josefin sans';
    display: inline-block;
    margin-bottom: 5px;
    background-color: #dddddd;
    color: #333333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.logo-text-sx {
    height:35px;
    top:12.5px;
    left:12.5px;
    position:absolute;
    background-size:cover;
    background-image:url('../img/logo-text-sx.png')
}
