
.product-info-main{
    margin-top:100px;
    z-index:500;
    margin-left:13%;
    width: 74%;
    position:relative;
    background-color:#f6f6f6;
    font-family: 'josefin sans';
    letter-spacing: 0px;
    font-size:2.2vmin;
    line-height:15px;
    font-weight:400;
}
.main-image-container {
    position:relative;
    width:100%;
    height:0;
    padding-bottom:100%;
    background-color:transparent;
}

.main-image-pro {
    position:absolute;
    background-color:transparent;
    width:95%;
    height:97%;
    margin:1.9%;
    border-radius:6px;
    border:4px solid white;
    box-sizing: border-box;
    background-image:url('../img/scarpa.jpg');
    background-size:cover;
}

.left-column-pro {
    width:60%;
    background-color:#f6f6f6;
}

.main-desc-container {
    position:relative;
    width:100%;
    background-color:#f6f6f6;
    margin-bottom:1%;
    overflow:hidden;
}

.main-desc-pro {
    background-color:white;
    width:95%;
    height:95%;
    margin:1.9%;
    padding:10px;
    border-radius:3px;
    box-sizing: border-box;
    border-top:1px solid #e5e6e9  ;
    border-bottom:1px solid #d0d1d5 ;
    border-left:1px solid #dfe0e4  ;
    border-right:1px solid #dfe0e4  ;
    
}

.main-ship-container {
    position:relative;
    width:100%;
    height:0;
    padding-bottom:25%;
    box-sizing: border-box;
    background-color:#f6f6f6;
    margin-bottom:1%
}

.main-ship-pro {
    position:absolute;
    background-color:white;
    width:95%;
    height:90%;
    margin:1.9%;
    padding:10px;
    border-radius:3px;
    border-top:1px solid #e5e6e9  ;
    border-bottom:1px solid #d0d1d5 ;
    border-left:1px solid #dfe0e4  ;
    border-right:1px solid #dfe0e4  ;
    box-sizing: border-box
}

.main-comm-container {
    position:relative;
    width:100%;
    height:0;
    background-color:#f6f6f6;
    margin-bottom:1%
}

.main-comm-pro {
    background-color:white;
    width:95%;
    margin:1.9%;
    padding:10px;
    border-radius:3px;
    box-sizing: border-box;
    border-top:1px solid #e5e6e9  ;
    border-bottom:1px solid #d0d1d5 ;
    border-left:1px solid #dfe0e4  ;
    border-right:1px solid #dfe0e4  ;
}

.right-column-pro {
    width:40%;
    background-color:#f6f6f6;
    position:absolute;
    right:0;
    top:0;
}

.main-info-container {
    position:relative;
    width:100%;
    height:40%;
    background-color:#f6f6f6;
}

.main-info-pro {
    background-color:white;
    width:95%;
    margin:1.9%;
    margin-top:3.3%;
    border-radius:3px;
    padding:7%;
    box-sizing: border-box;
    border-top:1px solid #e5e6e9  ;
    border-bottom:1px solid #d0d1d5 ;
    border-left:1px solid #dfe0e4  ;
    border-right:1px solid #dfe0e4  ;
}

.main-add-container {
    position:relative;
    width:100%;
    height:0;
    padding-bottom:21%;
    background-color:#f6f6f6;
    margin-bottom:2.2%
}

.main-add-pro {
    position:absolute;
    background-color: rgb(27, 186, 154);
    color:white;
    text-align: center;
    vertical-align: middle;
    font-size:3vmin;
    width:95%;
    height:95%;
    margin:1.9%;
    margin-top:1.3%;
    border-radius:6px;
    box-sizing: border-box;
    border-top:1px solid #555  ;
    border-bottom:1px solid #555 ;
    border-left:1px solid #555  ;
    border-right:1px solid #555  ;
}
.main-add-pro:before {
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.main-add-pro:hover{
    cursor:pointer;
    opacity:0.90;
    background: rgb(27, 186, 154); /* Old browsers */
    background: -moz-linear-gradient(to bottom, rgb(35, 222, 188) 0%,rgb(27, 186, 154) 34%,rgb(27, 186, 154) 63%,rgb(38, 171, 134) 100%);
    background: -webkit-linear-gradient(to bottom, rgb(35, 222, 188) 0%,rgb(27, 186, 154) 34%,rgb(27, 186, 154) 63%,rgb(38, 171, 134) 100%);
    background: linear-gradient(to bottom, rgb(35, 222, 188) 0%,rgb(27, 186, 154) 34%,rgb(27, 186, 154) 63%,rgb(38, 171, 134) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83c430', endColorstr='#40f1f7',GradientType=0 ); /* IE6-9 */
}
.main-add-pro.pressed{
    animation-name: pressing-button;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
@keyframes pressing-button {
    from {
        background-color:rgb(196, 59, 66);
    }
    to {
        background-color:rgb(27, 186, 154);
    }
}
.main-social-container {
    position:relative;
    width:100%;
    height:0;
    padding-bottom:21%;
    background-color:#f6f6f6;
    margin-bottom:2.2%
}

.main-social-pro {
    background-color:white;
    width:95%;
    margin:1.9%;
    padding:8%;
    margin-top:3.3%;
    border-radius:3px;
    box-sizing: border-box;
    border-top:1px solid #e5e6e9  ;
    border-bottom:1px solid #d0d1d5 ;
    border-left:1px solid #dfe0e4  ;
    border-right:1px solid #dfe0e4  ;
}

.main-photo-container {
    position:relative;
    width:100%;
    background-color:#f6f6f6;
    margin-bottom:1%;
    box-sizing: border-box;
}

.main-photo-pro {
    background-color:white;
    width:95%;
    margin:1.9%;
    margin-top:3.3%;
    border-radius:3px;
    box-sizing: border-box;
    border-top:1px solid #e5e6e9  ;
    border-bottom:1px solid #d0d1d5 ;
    border-left:1px solid #dfe0e4  ;
    border-right:1px solid #dfe0e4  ;
    padding:10px;
}

.main-merchant-container {
    position:relative;
    width:100%;
    background-color:#f6f6f6;
    margin-bottom:1%;
    box-sizing: border-box;
}

.main-merchant-pro {
    background-color:white;
    width:95%;
    padding:10px;
    margin:1.9%;
    margin-top:3.3%;
    border-radius:3px;
    box-sizing: border-box;
    border-top:1px solid #e5e6e9  ;
    border-bottom:1px solid #d0d1d5 ;
    border-left:1px solid #dfe0e4  ;
    border-right:1px solid #dfe0e4  ;
}

.main-img {
    height:100%;
}

.descrizione {
    padding:6px;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.descrizione-target {
    padding:6px;
}

.layer-desc {
   width:95%;
    height:95%;
    margin:1.9%;
    position:absolute;
    z-index:100;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
.layer-desc:hover{cursor:pointer}

.spedizione {
    padding:6px;
}

.spedizione-target {
    padding:6px;
}

.commento {
    display:inline-block;
    line-height:15px;
    width:90%;
    margin-left:3%;
    box-sizing: border-box;
    margin-top:2%;
    font-family: 'josefin sans'
}
.commento:first-line{
    font-weight: bold;
}

.circle-commento {
    height:0;
    padding-bottom:5%;
    width:5%;
    box-sizing: border-box;
    border-radius:200px;
    background-color:blue;
    display:inline-block;
    background-size:cover;
}

.info-pro-text {
    width:100%;
    height:50%;
    background-color:transparent;
}

.info-pro-opt {
    width:100%;
    height:50%;
    background-color:transparent;
}

.select-opt {
    margin-right:5%;
}

.social-element {
    display:inline-block;
    color:#666;
    font-size:2.5vmin;
    height:100%;
}

.soc1 {
    width:7%;
    text-align:right;
}
.soc1:hover{cursor:pointer;color:black;}

.soc2 {
    width:17%
}
.height200{
    height:200px;
}

.probod {
    background-color:#f6f6f6;
    color: #333;
    min-width:0 !important;
}

.logo-vendor {
    height:50px;
    display:inline-block;
}

.nome-vendor {
    height:40px;
    line-height:15px;
    padding:6px;
    display:inline-block;
}

.other-vendor {
    width:20%;
    height:0;
    padding-bottom:20%;
    display:inline-block;
    background-size:cover;
}

.other-from-vendor-cont {
    text-align:center;
    overflow-x:hidden;
    white-space: nowrap;
    width:83%;
    display:inline-block;
}

.scroll-other-photos {
    display:inline-block;
    width:17%;
}

.next-photo {
    width:100%;
    opacity:0.5;
}
.next-photo:hover{cursor:pointer;opacity:0.3;}

.nome-merchant {
    color:black;
    font-size:3vmin;
    margin-bottom:10px;
    margin-top:10px;
}

.desc-merchant {
    margin-bottom:10px;
}

.orario-merchant {
    margin-bottom:10px;
}

.indirizzo-merchant {
    margin-bottom:20px;
}

.mappa-merchant {
    width:100%;
    height:400px;
    background-color:#ccc
}



