

.main-image-container {
    position:relative;
    width:100%;
    height:0;
    padding-bottom:100%;
    background-color:transparent;
}

.main-image-pro {
    position:absolute;
    background-color:transparent;
    width:95%;
    height:97%;
    margin:1.9%;
    border-radius:6px;
    border:4px solid white;
    box-sizing: border-box;
    background-image:url('../img/scarpa.jpg');
    background-size:cover;
}

.left-column-pro {
    width:60%;
    background-color:#e6e6e6;
}

.main-desc-container {
        position: relative;
    width: 94.9%;
    left: 2%;
    margin-top: -3%;
    background-color: white;
    margin-bottom: 1%;
    border-radius: 4px;
    overflow: hidden;
}

.main-desc-pro {
    background-color:white;
    width:95%;
    height:95%;
    margin:1.9%;
    padding:10px;
    border-radius:3px;
    box-sizing: border-box;
    
}

.main-ship-container {
    position:relative;
    width:100%;
    height:0;
    padding-bottom:25%;
    box-sizing: border-box;
    background-color:#e6e6e6;
    margin-bottom:1%
}

.main-ship-pro {
    position:absolute;
    background-color:white;
    width:95%;
    height:90%;
    margin:1.9%;
    padding:10px;
    border-radius:3px;
    border-top:1px solid #e5e6e9  ;
    border-bottom:1px solid #d0d1d5 ;
    border-left:1px solid #dfe0e4  ;
    border-right:1px solid #dfe0e4  ;
    box-sizing: border-box
}

.main-comm-container {
    position:relative;
    width:100%;
    height:0;
    background-color:#e6e6e6;
    margin-bottom:1%
}

.main-comm-pro {
    background-color:white;
    width:95%;
    margin:1.9%;
    padding:10px;
    border-radius:3px;
    box-sizing: border-box;
    border-top:1px solid #e5e6e9  ;
    border-bottom:1px solid #d0d1d5 ;
    border-left:1px solid #dfe0e4  ;
    border-right:1px solid #dfe0e4  ;
}

.right-column-pro {
    width:40%;
    background-color:#e6e6e6;
    position:absolute;
    right:0;
    top:0;
}

.main-info-container {
    position:relative;
    width:100%;
    height:40%;
    background-color:#e6e6e6;
}

.main-info-pro {
    background-color:white;
    width:95%;
    margin:1.9%;
    margin-top:3.3%;
    border-radius:3px;
    padding:7%;
    box-sizing: border-box;
    border-top:1px solid #e5e6e9  ;
    border-bottom:1px solid #d0d1d5 ;
    border-left:1px solid #dfe0e4  ;
    border-right:1px solid #dfe0e4  ;
}

.main-add-container {
    position:relative;
    width:100%;
    height:0;
    padding-bottom:21%;
    background-color:#e6e6e6;
    margin-bottom:2.2%
}

.main-add-pro {
    background-color: #b93033;
    color:white;
    text-align: center;
    vertical-align: middle;
    font-size:3vmin;
    width:95%;
    height:50px;
    margin:1.9%;
    margin-top:1.3%;
        border-radius: 0.4vmin;
    box-sizing: border-box;
}
.main-add-pro:before {
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.main-add-pro:hover{
    cursor:pointer;
    background-color:#ce242c;
}
.main-pre-pro {
    background-color: #669940;
    color:white;
    text-align: center;
    vertical-align: middle;
    font-size:3vmin;
    width:95%;
    height:50px;
    margin:1.9%;
    margin-top:1.3%;
        border-radius: 0.4vmin;
    box-sizing: border-box;
}
.main-pre-pro:before {
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.main-pre-pro:hover{
    cursor:pointer;
    background-color:#77af41;
}
.main-social-container {
    width: 100%;
    /* height: 0; */
    /* padding-bottom: 21%; */
    background-color: #e6e6e6;
    margin-top: 50px;
}

.main-social-pro {
    background-color:white;
    width:95%;
    margin:1.9%;
    padding:8%;
    margin-top:3.3%;
    border-radius:3px;
    box-sizing: border-box;
    border-top:1px solid #e5e6e9  ;
    border-bottom:1px solid #d0d1d5 ;
    border-left:1px solid #dfe0e4  ;
    border-right:1px solid #dfe0e4  ;
}

.main-photo-container {
    position:relative;
    width:100%;
    background-color:#e6e6e6;
    margin-bottom:1%;
    box-sizing: border-box;
}

.main-photo-pro {
    background-color:white;
    width:95%;
    margin:1.9%;
    margin-top:3.3%;
    border-radius:3px;
    box-sizing: border-box;
    border-top:1px solid #e5e6e9  ;
    border-bottom:1px solid #d0d1d5 ;
    border-left:1px solid #dfe0e4  ;
    border-right:1px solid #dfe0e4  ;
    padding:10px;
}

.main-merchant-container {
    position:relative;
    width:100%;
    background-color:#e6e6e6;
    margin-bottom:1%;
    box-sizing: border-box;
}

.main-merchant-pro {
    background-color:white;
    width:95%;
    padding:10px;
    margin:1.9%;
    margin-top:3.3%;
    border-radius:3px;
    box-sizing: border-box;
    border-top:1px solid #e5e6e9  ;
    border-bottom:1px solid #d0d1d5 ;
    border-left:1px solid #dfe0e4  ;
    border-right:1px solid #dfe0e4  ;
}

.main-img {
    height:100%;
}

.descrizione {
    padding:6px;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.descrizione-target {
    padding:6px;
}

.layer-desc {
   width:95%;
    height:95%;
    margin:1.9%;
    position:absolute;
    z-index:100;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
.layer-desc:hover{cursor:pointer}

.spedizione {
    padding:6px;
}

.spedizione-target {
    padding:6px;
}

.commento {
    display:inline-block;
    line-height:15px;
    width:90%;
    margin-left:3%;
    box-sizing: border-box;
    margin-top:2%;
    font-family: 'josefin sans'
}
.commento:first-line{
    font-weight: bold;
}

.circle-commento {
    height:0;
    padding-bottom:5%;
    width:5%;
    box-sizing: border-box;
    border-radius:200px;
    background-color:blue;
    display:inline-block;
    background-size:cover;
}

.info-pro-text {
    width:100%;
    height:50%;
    background-color:transparent;
}

.info-pro-opt {
    width:100%;
    height:50%;
    background-color:transparent;
}

.select-opt {
    margin-right:5%;
}

.social-element {
    display: inline-block;
    color: #666;
    font-size: 5vmin;
    /* float: left; */
    margin: 1vmin;
    height: 100%;
}

.soc1 {margin-left:5px;
}
.soc1:hover{cursor:pointer;color:black;transform-origin:center}

.soc2 {
font-size:2vmin;
}
#pdf{
    float: right;
    margin-right: 3vmin;
}
.height200{
    height:200px;
}

.probod {
    background-color:#e6e6e6;
    color: #333;
    min-width:0 !important;
}

.logo-vendor {
    height:50px;
    display:inline-block;
}

.nome-vendor {
    height:40px;
    line-height:15px;
    padding:6px;
    display:inline-block;
}

.other-vendor {
    width:20%;
    height:0;
    padding-bottom:20%;
    display:inline-block;
    background-size:cover;
}

.other-from-vendor-cont {
    text-align:center;
    overflow-x:hidden;
    white-space: nowrap;
    width:83%;
    display:inline-block;
}

.scroll-other-photos {
    display:inline-block;
    width:17%;
}

.next-photo {
    width:100%;
    opacity:0.5;
}
.next-photo:hover{cursor:pointer;opacity:0.3;}

.nome-merchant {
    color:black;
    font-size:3vmin;
    margin-bottom:10px;
    margin-top:10px;
}

.desc-merchant {
    margin-bottom:10px;
}

.orario-merchant {
    margin-bottom:10px;
}

.indirizzo-merchant {
    margin-bottom:20px;
}

.mappa-merchant {
    width:100%;
    background-color:#ccc
}
.map-img{
    width:100%;
}



