#thumb-wrap {
    width: 127%;
}
#thumb-wrap a {
    opacity: 1.0;
}
#thumb-wrap a:hover {
    opacity: 0.6;
    text-decoration: none;
}
.thumb-container {
       display: inline-block;
    position: relative;
    width: 33%;
    float: left;
    height: 0;
    border: 1px solid #f6f6f6;
    padding-bottom: 22%;
    min-width: 146px;
    min-height: 100px;
}
.thumb-container-2 {
    display: inline-block;
    position: relative;
    width: 66%;
    float: left;
    height:0;
    padding-bottom:52%;
    min-width:292px;
    min-height:100px;
}
.thumb-container-5{
    display: flex !important;
    flex-direction: column;
    margin-top: 32.4%;
    margin-left: -33%;
    display: inline-block;
    position: relative;
    width: 33%;
    float: left;
    height: 0;
    padding-bottom: 19.6%;
    min-width:146px;
    min-height:100px;
}
.thumb-container-4{
    display: flex;
    flex-direction: column;
    display: inline-block;
    position: relative;
    width: 33%;
    float: left;
    height: 0;
    padding-bottom: 19.6%;
    min-width:146px;
    min-height:100px;
}
.thumb-dummy {
    padding-top: 66%;
}
.thumb-product{
       position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 8px;
}
.thumb-element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;
    background: no-repeat 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index:100;
    -webkit-transition: all 250ms ease-out;
-moz-transition: all 250ms ease-out;
-ms-transition: all 250ms ease-out;
-o-transition: all 250ms ease-out;
transition: all 250ms ease-out;
    -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.thumb-element:hover{
    cursor:pointer;
    -webkit-filter: grayscale(0.5);
  filter: grayscale(0.5);
}
.thumb-element:hover .product-discount{
    background-color:transparent;color:black
}
#thumb-container:hover .thumb-element{cursor:pointer;-webkit-box-shadow: 5px 5px 21px 0px rgba(50, 50, 50, 0.08);
-moz-box-shadow:    5px 5px 21px 0px rgba(50, 50, 50, 0.08);
box-shadow:         5px 5px 21px 0px rgba(50, 50, 50, 0.08);}
#thumb-container-2:hover .thumb-element{cursor:pointer;-webkit-box-shadow: 5px 5px 21px 0px rgba(50, 50, 50, 0.08);
-moz-box-shadow:    5px 5px 21px 0px rgba(50, 50, 50, 0.08);
box-shadow:         5px 5px 21px 0px rgba(50, 50, 50, 0.08);}
/*------------------------------------------RIQUADRI INFO PRODOTTO--------*/
.product-bar-2{
    background-color:#f7f7f7;
    position:absolute;
    width:100%;
    height:15%;
    bottom:0;
    left:0;
}
.product-bar{
    background-color:rgba(0,0,0,0.2);
    font-family:'open sans';
    width:100%;
    height:34%;
    position:absolute;
    filter:grayscale(0) !important;
    z-index:399;
    bottom:0;
    border-radius:0px 0px 4px 4px;
}
.product-bar:hover{background-color:rgba(0,0,0,0.4);cursor:pointer}
.product-bar:hover .product-discount{}
.transition-1{
    -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.product-bar-in{
    bottom:0;
    left:0;
}
.product-header{
    background-color:#ffffff;
    position:absolute;
    width:100%;
    height:20px;
    top:0;
    left:0;
    z-index:500;
    font-family:'open sans';
}
.product-discount{
    background-color:#c43b42;
    height:2px;
    position:absolute;
    top:0;
    right:0;
    min-width:35px;
    text-align:center;
    line-height:20px;
    color:black;
    font-family:'open sans';
    font-size:2vh;
    /*border-left: 2px solid #e87c7c;*/
    max-width:220px;
    -webkit-transition: all 250ms ease-out;
-moz-transition: all 250ms ease-out;
-ms-transition: all 250ms ease-out;
-o-transition: all 250ms ease-out;
transition: all 250ms ease-out;
}
.city{
    background-color:transparent;
    height:20px;
    position:absolute;
    top:0;
    left:5px;
    text-align:center;
    line-height:20px;
    color:#666;
    font-family:'open sans';
    font-size:2vh;
}
.thumb-product:hover{
    -webkit-box-shadow: 2px 2px 9px 0px rgba(50, 50, 50, 0.28);
-moz-box-shadow:    2px 2px 9px 0px rgba(50, 50, 50, 0.28);
box-shadow:         2px 2px 9px 0px rgba(50, 50, 50, 0.28);
}
.bar-n{
    background-color:#333333;
    position:absolute;
    opacity:0;
    left:0%;
    bottom:120%;
    filter:grayscale(0) !important;
}
.bar-s{
    background-color:#333333;
    position:absolute;
    opacity:0;
    left:0%;
    bottom:-120%;
    filter:grayscale(0) !important;
}
.bar-w{
    background-color:#333333;
    position:absolute;
    opacity:0;
    left:-110%;
    bottom:0;
    filter:grayscale(0) !important;
}
.bar-e{
   background-color:#333333;
    position:absolute;
    opacity:0;
    bottom:0;
    left:110%;
    filter:grayscale(0) !important;
}
li{overflow:hidden}