.user-page-main-container {
    position:absolute;
    width:70%;
    background-color:transparent;
    left:15%;
    top:100px;
    margin-bottom:100px;
}
.logo-text {
    margin-top:15px
}

.user-page-head {
    width:100%;
    background-color:transparent;
}

.logo-emporyou-user {
    width:150px;
}

.il-tuo-emporyou {
    background:linear-gradient(to bottom,rgba(0,0,0,0.7),rgba(0,0,0,0));
    height:100px;
    color:white;
    font-family:'josefin sans';
    font-size:5vmin;
    padding:20px;
    height:140px;
    border:4px solid white;
    border-radius:2px;
}

.profile-image-user-page {
    position:absolute;
    width:150px;
    height:150px;
    background-size:cover;
    border-radius:200px;
    border:4px solid white;
    top:104px;
    left:30px
}

.user-page-body {
    margin-top:100px;
    background-color:transparent;
    position:relative;
}

.user-page-field {
    padding:3%;
    font-size:3vmin;
    font-family:'josefin sans';
    color:black;
    font-weight:bold;
    background-color:#f6f6f6;
    border-top:1px solid #f6f6f6;
    border-left:1px solid #e6e6e6;
    border-right:1px solid #e6e6e6;
    border-bottom:1px solid #d6d6d6;
    margin-bottom:2px;
    border-radius:4px
}
.user-page-field:hover{
    cursor:pointer;
    background-color:white;
}

.content-target-user {
    height:100%;
    position:absolute;
    background-color:white;
    left:20%;
    top:0;
    padding:7%;
    width:80%;
    box-sizing: border-box;
    font-family: 'josefin sans';
    transition:all 500ms ease;
    border-radius:0px 4px 4px 0px
}
.selectedfield{
    background-color:white;
    border-bottom:2px solid #ccc;
}

.hidden {
    display:none !important;
}

.user-name {
    position:Absolute;
    font-size:40px;
    color:white;
    font-family: 'josefin sans';
    top:20px;
    right:20px;
}

#con-dati {
    display:flex;
    flex-direction: column;
}

.new-data-user {
    flex-grow:1;
    padding:2%;
    width:100%;
    border-bottom:2px solid #eee;
}
.new-data-user:hover{
    cursor:pointer;
    border-bottom:2px solid #ccc;
    background-color:#eee;
}

.col-fle {
    width:100%;
    text-align:center;
    flex-grow:1;
}

#con-amici {
    display:flex;
    flex-direction: column;
}

.fa {
    
}

#social-amici {
    width:30%;
    margin-left:35%;
    display:flex;
    justify-content: space-around;
}

.il-tuo-emporyou-container {
    background-image:url('http://i.imgur.com/dTRvKZv.gif');
    background-size:100%;
    filter:grayscale(1);
}
