.user-page-main-container {
    position:absolute;
    width:55%;
    background-color:transparent;
    left:22.5%;
    top:100px;
}
.logo-text {
    margin-top:15px
}

.user-page-head {
    width:100%;
    background-color:red;
}

.logo-emporyou-user {
    width:150px;
}

.il-tuo-emporyou {
    background:linear-gradient(to bottom,#666,white);
    height:100px;
    color:white;
    font-family:'josefin sans';
    font-size:5vmin;
    padding:30px;
}

.profile-image-user-page {
    position:absolute;
    width:150px;
    height:150px;
    background-size:cover;
    border-radius:200px;
    top:95px;
    left:30px
}

.user-page-body {
    margin-top:100px;
    background-color:transparent;
    position:relative;
}

.user-page-field {
    padding:3%;
    font-size:3vmin;
    font-family:'josefin sans';
    color:black;
    font-weight:bold;
    background-color:#f6f6f6;
    border-top:1px solid #f6f6f6;
    border-left:1px solid #e6e6e6;
    border-right:1px solid #e6e6e6;
    border-bottom:1px solid #d6d6d6;
    margin-bottom:5px;
}
.user-page-field:hover{
    cursor:pointer;
    background-color:white;
}

.content-target-user {
    width:80%;
    height:100%;
    position:absolute;
    background-color:white;
    right:0;
    top:0;
    padding:5%;
    box-sizing: border-box;
    font-family: 'josefin sans';
}

.hidden {
    display:none;
}

.user-name {
    position:Absolute;
    font-size:40px;
    color:white;
    font-family: 'josefin sans';
    top:20px;
    right:20px;
}
