#products-cart-target{
    position:absolute;
    width:100%;
    top:50px;
    height:0;
    background-color:#e7e7e7;
    -webkit-box-shadow: inset 0px -12px 30px 0px rgba(50, 50, 50, 0.26);
-moz-box-shadow:    inset 0px -12px 30px 0px rgba(50, 50, 50, 0.26);
box-shadow:         inset 0px -12px 30px 0px rgba(50, 50, 50, 0.26);
    -webkit-transition: all 400ms cubic-bezier(1,.01,.58,1) ;
   -moz-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
     -o-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
        transition: all 400ms cubic-bezier(1,.01,.58,1) ; /* linear */
}