
#checkout-main-container {
    position:absolute;
    top:100px;
    width:90%;
    left:5%;
    background-color:transparent;
    height:150%;
    min-width:860px;
    min-height:860px;
}

#checkout-progress-container {
    position:fixed;
    top:50px;
    left:0;
    width:100%;
    height:73px;
    background-color:darkorange;
    z-index:100;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.29);
-moz-box-shadow:    0px 10px 30px 0px rgba(50, 50, 50, 0.29);
box-shadow:         0px 10px 30px 0px rgba(50, 50, 50, 0.29);
}

.menu-opened {
    position:absolute;
    top:14%;
    width:65%;
    left:3%;
    height:82%;
    background-color:transparent
}



.left-square {
    width:100%;
    background-color:#c6c6c6;
    margin-bottom:15px;
    position:relative;
}

.closed {
    height:20%
}

.open {
    height:50%
}

.menu-closed {
    position:absolute;
    top:14%;
    width:28%;
    right:3%;
    height:82%;
    background-color:transparent
}

.single-container {
    background-color: #e6e6e6; 
    position: absolute; 
    width:99%;
    left:0.5%;
    top:1%;
    height:98%
}

.circle-step {
    position:absolute;
    width:50px;
    height:50px;
    border-radius:200px;
    left:2%;
    top:4%;
    background-color:#c6c6c6;
    color:#666;
    font-weight:bold;
    font-size:25px;
    text-align:center;
    line-height:50px;
    font-family:'open-sans';
}

.single-header {
    width:90%;
    height:75px;
    top:0;
    line-height:75px;
    left:10%;
    position:absolute;
    font-family:'open sans';
    font-weight:bold;
}

.single-content {
    width:100%;
    height:80%;
    top:75px;
    position:absolute;
}

.login-button-checkout {
    font-size:72px;
    font-family:'pacifico';
    position:absolute;
    color:#666;
    width:50%;
    height:100%;
    text-align:center;
    border-right:2px solid #ccc;
}
.login-button-checkout:hover{
    color:darkorange;   
}

#button-social-container {
    right:0;
    height:100%;
    width:50%;
    position:absolute;
    text-align:left;
}

.login-link {
    width:50px;
    height:50px;
}

.login {
    width:50px;
    height:50px;
}

.fa {
    
}

img {
    
}

.social-logo {
    margin-left:10px;
    margin-top:5px;
    font-family:'open sans'
}

a {
    text-decoration:none
}

.text-address {
        display: inline;
    width: 30%;
    margin-left:2%;
    margin-top:2%;
    resize: none;
    height: 5vmin;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 5vmin;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#default-address {
    position:absolute;
    width:10%;
    right:0;
}

.shipping-option {
    margin-left:10px;
    margin-top:5px;
    width:50%;
    border-radius:6px;
    height:50px;
    line-height:20px;
    padding:15px;
    box-sizing: border-box;
    background-color:#c6c6c6;
    font-family:'open sans'
}

#paypal-button {
    transform:scale(1.3);
    margin-left:5%;
    margin-top:3%;
}

.next {
    position:absolute;
    height:0;
    width:15%;
    padding-bottom:15%;
    background-color:transparent;
    bottom:0;
    right:0;
}
.next:hover{
    cursor:pointer;
    background-color:#ccc;
}
.next:hover img{
    transform:translateY(45%) rotate(90deg)
}
.pre:hover img{
    transform:translateY(-45%) rotate(270deg)
}

.pre {
    position:absolute;
    height:0;
    width:15%;
    padding-bottom:15%;
    background-color:transparent;
    top:0;
    right:0;
    
}
.pre:hover{
    cursor:pointer;
    background-color:#ccc;
}

.next-image {
    transform:rotate(90deg);
    width:50%;
    position:absolute;
    left:25%;
    top:25%;
}

.pre-image {
    transform:rotate(270deg);
    width:50%;
    position:absolute;
    left:25%;
    top:25%;
}

.image-button {
    
}

.step {
    display:inline-block;
    width:20%;
    height:70px;
    background-color:white;
    text-align:center;
    font-size:4vmin;
    font-family:'Open sans';
    box-sizing: border-box;
    line-height:70px;
    z-index:2;
}

.done {
    background-color:orange
}

#progress-bar {
    background-color:rgba(255, 131, 0, 0.53);
    height:70px;
    position:absolute;
    left:0;
    z-index:1
}
#progress-bar:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 70px solid rgba(255, 255, 255, 1);;
    border-left: 70px solid rgba(255, 131, 0, 0.0);
    width: 0;
}

.uno {
    width:20%
}

#quit-checkout {
    right:3%;
    bottom:9%;
    height:50px;
    width:10%;
    background-color:white;
    text-align:center;
    line-height:50px;
    color:black;
    font-family:'open sans';
    position:absolute;
}
#quit-checkout:hover{
    background-color:#c6c6c6;
    cursor:pointer
}
