/*CONVENZIONI ALWAYS*/
/*.ln = line - usare per elementi che a livello di layout del parent rappresentano una linea*/
/*.l = label - usare per elementi che a livello di layout contencono delle label*/
/*.v = value - usare per elementi che a livello di layout contengono dei dati*/
/*.g = group - usare per suddividere in gruppi all'interno di un parent*/
/*.n1,.n2,.. - usare per definire sotto varanti di una classe*/
/*CONVENZIONI PER QUESTO FILE*/
/*.li = line - usare per elementi che a livello di layout del parent rappresentano una linea*/

/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------MASTER LAYOUT*/

.fontlogo{font-family:arial;font-size:50px}
.fontlogo b{font-size:50px}
/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------PRODUCT BROWSER*/

/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------TRANSITION TIMING FUNCTIONS*/
.transition-1{-webkit-transition: all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
