.add{
    position:absolute;
    height:20%;
    width:35%;
    bottom:0;
    left:15%;
    background-color:transparent;
    text-align:center;
    vertical-align:middle;
    line-height:30px;
    font-family:'Open sans';
    font-size:1.5vh;
}
.share{
    position:absolute;
    height:20%;
    width:35%;
    bottom:0;
    right:15%;
    background-color:transparent;
    text-align:center;
    vertical-align:middle;
    line-height:30px;
    font-family:'Open sans';
    font-size:1.5vh;
}
.fb-share-button{
    margin:0 auto;
    display:none;
    width:20px;
    height:20px;
    position:absolute;
    left:20px;
}
.add-2{
    position:absolute;
    height:20%;
    width:35%;
    bottom:0;
    left:15%;
    background-color:transparent;
    text-align:center;
    vertical-align:middle;
    line-height:30px;
    font-family:'Open sans';
    font-size:1.5vh;
}
.share-2{
    position:absolute;
    height:20%;
    width:35%;
    bottom:0;
    right:15%;
    background-color:transparent;
    text-align:center;
    vertical-align:middle;
    line-height:30px;
    font-family:'Open sans';
    font-size:1.5vh;
}
.price{
    width:100%;
    height:30px;
    left:0;
    color:white;
    background-color:transparent;
    padding:0;
    vertical-align:middle;
    line-height:100%;
    font-family:'Open sans';
    font-size:2.5vh;
    text-align:center;
    margin-top:10%;
}
.description{
    left:0;
    margin-top:10%;
    text-align:center;
    width:100%;
    background-color:transparent;
    vertical-align:middle;
    line-height:100%;
    color:white;
    font-family:'Open sans';
    font-size:2.5vh;
}
.price-2{
    width:50%;
    height:30px;
    left:0;
    background-color:transparent;
    padding:0;
    vertical-align:middle;
    line-height:15px;
    font-family:'Open sans';
    font-size:2.5vh;
}
.description-2{
    left:0;
    color:white;
    margin-top:5%;
    text-align:center;
    width:100%;
    background-color:transparent;
    vertical-align:middle;
    line-height:100%;
    font-family:'Open sans';
    font-size:4vh;
}
.share-button{
    width:80%;
    margin:0 auto;
    opacity:0.7;
}
.add-button{
    width:80%;
    margin:0 auto;
    opacity:0.7;
}
.add:hover{cursor:pointer;filter:sepia(1)}
.share:hover{cursor:pointer;filter:sepia(1)}
.add-2:hover{cursor:pointer;filter:sepia(1)}
.share-2:hover{cursor:pointer;filter:sepia(1)}