body{
    margin:0;
    background-color:#e6e6e6;
    font-family:'Open sans';
}
#social-login{
    position:absolute;
    left:15%;
    width:70%;
    top:48%;
    height:40%;
    background-color:transparent;
    border-radius:10px;
}
#title{
     position:absolute;
    left:35%;
    width:30%;
    top:27%;
    height:50px;
    line-height:50px;
    font-size:8.5vh;
    color:black;
    text-align:center;
    background-color:transparent;
    font-weight: bold;
    font-family:'Pacifico'
}
.login{
    width:20%;
    display:inline-block;
    height:50px;
    text-align:center;
    line-height:50px;
    background-color:transparent;
}
.accedicon{
   width:80%;
    font-size:3.5vh;
    margin-left:10%;
    margin-top:10px;
    height:10vmin;;
    border-radius:4px;
    background-color:#f7f7f7;
    text-align:center;
    line-height:50px; 
}
a{
    text-decoration:none;
    color:black;
}
#shopify{
    width:16vmin !important;
}
.fa{
    font-size:16vmin;
}