body{
    background-color:#f7f7f7;
    margin:0;
    overflow-x:hidden;
}
.header{
    background-color:#0c2d4d;
    height:50px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display: flex;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.29);
-moz-box-shadow:    0px 10px 30px 0px rgba(50, 50, 50, 0.29);
box-shadow:         0px 10px 30px 0px rgba(50, 50, 50, 0.29);
    z-index:400;
}
.logo-container{
    height:60%;
    width:25%;
    background-color:transparent;
    margin-left:0;
    align-self: center;
    justify-content: center;
    display: flex;
}
.logo{
    height:100%;
    margin:0 auto;
}
.logo:hover{cursor:pointer}
#header-items-container{
    height:60%;
    width:50%;
    background-color:transparent;
    margin-left:0;
    align-self: center;
    display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	justify-content:center;
}
.map-icon{
    height:100%;
}
.item-container{
    -webkit-flex: 1 0 auto;
	flex: 1 0 auto;
    line-height:30px;
    font-size:2vh;
    color:white;
    font-family:'open sans';
    height:100%;
}
.item-container:hover{
    cursor:pointer;opacity:0.7;
}
.ham-square{
    position:fixed;
    top:0;
    left:0;
    height:50px;
    width:70px;
    background-color:transparent;
}
.ham-container{
    height:100%;
    width:100%;
    background-color:transparent;
    display: flex;
    justify-content: center;
}
.ham{
    height:40%;
    margin:0 auto;
    align-self: center;
}
.ham:hover{cursor:pointer}
.emporyoum-bar{
    position:absolute;
    top:30%;
    height:40px;
    width:100%;
    background-color:transparent;
    align-items:center;
    text-align:center;
    -webkit-transition: all 400ms cubic-bezier(1,.01,.58,1) ;
   -moz-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
     -o-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
        transition: all 400ms cubic-bezier(1,.01,.58,1) ; /* linear */
}
.emporyoum-bar.emporyoum-bar-finish{
    position:absolute;
    top:13%;
    height:40px;
    width:25%;
    background-color:transparent;
    align-items:center;
    text-align:center;
    -webkit-transition: all 400ms cubic-bezier(1,.01,.58,1) ;
   -moz-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
     -o-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
        transition: all 400ms cubic-bezier(1,.01,.58,1) ; /* linear */
}
.emporyoum-container{
    height:100%;
    background-color:transparent;
    margin: 0 auto;
}
.emporyoum{
    width:25%;
    margin:0 auto;
}
.products-main{
    position:absolute;
    width:100%;
    height:100%;
    top:55%;
    background-color:transparent;
    z-index:0;
    -webkit-transition: all 400ms cubic-bezier(1,.01,.58,1) ;
   -moz-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
     -o-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
        transition: all 400ms cubic-bezier(1,.01,.58,1) ; /* linear */
    
}
.products-container{
    background-color:transparent;
    width:50%;
    height:100%;
    margin:0 auto;
}
#basket-container{
    z-index:100;
    position:fixed;
    right:10%;
    top:0;
    height:100%;
    width:50px;
    background-color:transparent;
    -webkit-transition: all 400ms cubic-bezier(1,.01,.58,1) ;
   -moz-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
     -o-transition: all 400ms cubic-bezier(1,.01,.58,1) ; 
        transition: all 400ms cubic-bezier(1,.01,.58,1) ; /* linear */
}
#basket{
    width:50px;
    top:-450px;
    position:absolute;
    top:-450px;
    -webkit-transition: all 400ms cubic-bezier(.56,.57,.54,1.24);
   -moz-transition: all 400ms cubic-bezier(.56,.57,.54,1.24); 
     -o-transition: all 400ms cubic-bezier(.56,.57,.54,1.24); 
        transition: all 400ms cubic-bezier(.56,.57,.54,1.24); /* linear */
}
#bought-container{
    position:absolute;
    margin-top:65px;
    width:100%;
    height:100%;
}
.flag{
    background-color:transparent;
    margin-left:25px;
    width:75px;
    height:20px;
    line-height:20px;
    color:#f7f7f7;
    font-family:'Open sans';
    margin-top:4px;
     border-top:10px solid #0c2d4d;
 border-bottom:10px solid #0c2d4d;
 /* Don't set the left border */
 border-right:10px solid transparent; /* Right one transparent */
 width:75px; /* Increase Width */
 height:0px;  /* Remove Height */
}
#else{
    position:absolute;
    bottom:10px;
    width:30px;
    height:30px;
    left:10px;
    display:none;
} 
#else:hover{
    cursor:pointer
}
.flag-text{
    top:-10px;
    left:3px;
    position:relative;
    color:white;
    text-align:center;
}
.flag-text:hover{
    cursor:pointer;opacity:0.7;
}
