body{
    background-color:#f7f7f7;
    margin:0;
}
.header{
    background-color:#0c2d4d;
    height:50px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.29);
-moz-box-shadow:    0px 10px 30px 0px rgba(50, 50, 50, 0.29);
box-shadow:         0px 10px 30px 0px rgba(50, 50, 50, 0.29);
    z-index:400;
}
.logo-container{
    height:60%;
    width:70px;
    background-color:transparent;
    margin: 0 auto;
    align-self: center;
}
.logo{
    height:100%;
    margin:0 auto;
}
.logo:hover{cursor:pointer}
.ham-square{
    position:fixed;
    top:0;
    left:0;
    height:50px;
    width:70px;
    background-color:transparent;
}
.ham-container{
    height:100%;
    width:100%;
    background-color:transparent;
    display: flex;
    justify-content: center;
}
.ham{
    height:40%;
    margin:0 auto;
    align-self: center;
}
.ham:hover{cursor:pointer}
.emporyoum-bar{
    position:absolute;
    top:20%;
    height:40px;
    width:100%;
    background-color:transparent;
    align-items:center;
    text-align:center;
}
.emporyoum-container{
    height:100%;
    background-color:transparent;
    margin: 0 auto;
}
.emporyoum{
    width:25%;
    margin:0 auto;
}
.products-main{
    position:absolute;
    width:100%;
    height:100%;
    top:35%;
    background-color:transparent;
    
}
.products-container{
    background-color:transparent;
    width:50%;
    height:100%;
    margin:0 auto;
}
.basket-container{
    position:fixed;
    right:10%;
    top:0;
    height:100%;
    width:50px;
    background-color:transparent;
}
.basket{
    width:50px;
    top:0;
    position:absolute;
}
