#thumb-wrap {
    width: 100%;
}
#thumb-wrap a {
    opacity: 1.0;
}
#thumb-wrap a:hover {
    opacity: 0.6;
    text-decoration: none;
}
.thumb-container {
    display: inline-block;
    position: relative;
    width: 33%;
    float: left;
    height: 0;
    padding-bottom: 33%;
    min-width:146px;
    min-height:100px;
}
#thumb-container-2 {
    display: inline-block;
    position: relative;
    width: 100%;
    float: left;
    height:0;
    padding-bottom:33.3%;
    min-width:292px;
    min-height:100px;
}
.thumb-dummy {
    padding-top: 66%;
}
.thumb-product{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 8px solid #f7f7f7;
}
.thumb-element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    background: no-repeat 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index:100;
    -webkit-transition: all 100ms ease-out;
-moz-transition: all 100ms ease-out;
-ms-transition: all 100ms ease-out;
-o-transition: all 100ms ease-out;
transition: all 100ms ease-out;
}
#thumb-container:hover .thumb-element{transform:scale(1.0001);cursor:pointer;-webkit-box-shadow: 5px 5px 21px 0px rgba(50, 50, 50, 0.08);
-moz-box-shadow:    5px 5px 21px 0px rgba(50, 50, 50, 0.08);
box-shadow:         5px 5px 21px 0px rgba(50, 50, 50, 0.08);}
#thumb-container-2:hover .thumb-element{transform:scale(1.0001);cursor:pointer;-webkit-box-shadow: 5px 5px 21px 0px rgba(50, 50, 50, 0.08);
-moz-box-shadow:    5px 5px 21px 0px rgba(50, 50, 50, 0.08);
box-shadow:         5px 5px 21px 0px rgba(50, 50, 50, 0.08);}
/*------------------------------------------RIQUADRI INFO PRODOTTO--------*/
.product-bar-2{
    background-color:#e7e7e7;
    position:absolute;
    width:100%;
    height:15%;
    bottom:0;
    left:0;
}
.product-bar{
    background-color:#e7e7e7;
    position:absolute;
    width:100%;
    height:120px;
    bottom:0;
    left:0;
}
.product-header{
    background-color:#e7e7e7;
    position:absolute;
    width:100%;
    height:20px;
    top:0;
    left:0;
}
.product-discount{
    background-color:#f69393;
    height:20px;
    position:absolute;
    top:0;
    right:0;
    text-align:center;
    line-height:20px;
    color:#fbe268;
    font-family:arial;
    font-size:2vh;
    border-left: 2px solid #e87c7c;
    max-width:220px;
}
.city{
    background-color:transparent;
    height:20px;
    position:absolute;
    top:0;
    left:5px;
    text-align:center;
    line-height:20px;
    color:#666;
    font-family:arial;
    font-size:2vh;
}