#thumb-wrap {
    width: 100%;
}
#thumb-wrap a {
    opacity: 1.0;
}
#thumb-wrap a:hover {
    opacity: 0.6;
    text-decoration: none;
}
.thumb-container {
    display: inline-block;
    position: relative;
    width: 33%;
    float: left;
    height: 0;
    padding-bottom: 25%;
    min-width:146px;
    min-height:100px;
}
.thumb-container-2 {
    display: inline-block;
    position: relative;
    width: 66%;
    float: left;
    height:0;
    padding-bottom:60%;
    min-width:292px;
    min-height:100px;
}
.thumb-container-5{
    display: flex !important;
    flex-direction: column;
    margin-top: 35%;
    margin-left: -33%;
    display: inline-block;
    position: relative;
    width: 33%;
    float: left;
    height: 0;
    padding-bottom: 25%;
    min-width:146px;
    min-height:100px;
}
.thumb-container-4{
    display: flex;
    flex-direction: column;
    display: inline-block;
    position: relative;
    width: 33%;
    float: left;
    height: 0;
    padding-bottom: 25%;
    min-width:146px;
    min-height:100px;
}
.thumb-dummy {
    padding-top: 66%;
}
.thumb-product{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 8px solid #eeeeee;
}
.thumb-element {
    position: absolute;
    height:100%;
    width:100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 5px solid #fff;
    border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;
    background: no-repeat 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index:100;
    -webkit-transition: all 200ms ease-out;
-moz-transition: all 200ms ease-out;
-ms-transition: all 200ms ease-out;
-o-transition: all 200ms ease-out;
transition: all 200ms ease-out;
}
.thumb-element:hover{
    cursor:pointer;
    -webkit-filter: grayscale(0.3);
  filter: grayscale(0.3);
}
#thumb-container:hover .thumb-element{transform:scale(1.0001);cursor:pointer;-webkit-box-shadow: 5px 5px 21px 0px rgba(50, 50, 50, 0.08);
-moz-box-shadow:    5px 5px 21px 0px rgba(50, 50, 50, 0.08);
box-shadow:         5px 5px 21px 0px rgba(50, 50, 50, 0.08);}
#thumb-container-2:hover .thumb-element{transform:scale(1.0001);cursor:pointer;-webkit-box-shadow: 5px 5px 21px 0px rgba(50, 50, 50, 0.08);
-moz-box-shadow:    5px 5px 21px 0px rgba(50, 50, 50, 0.08);
box-shadow:         5px 5px 21px 0px rgba(50, 50, 50, 0.08);}
/*------------------------------------------RIQUADRI INFO PRODOTTO--------*/
.product-bar-2{
    background-color:#f7f7f7;
    position:absolute;
    width:100%;
    height:15%;
    bottom:0;
    left:0;
}
.product-bar{
    background-color:#333333;
    position:absolute;
    width:100%;
    height:0px;
    opacity:0;
    bottom:0;
    left:0;
    
    filter:grayscale(0) !important;
    font-family:'open sans';
    -webkit-transition: all 200ms ease-out;
-moz-transition: all 200ms ease-out;
-ms-transition: all 200ms ease-out;
-o-transition: all 200ms ease-out;
transition: all 200ms ease-out;
}
.product-header{
    background-color:#ffffff;
    position:absolute;
    width:100%;
    height:20px;
    top:0;
    left:0;
    font-family:'open sans';
}
.product-discount{
    background-color:#f69393;
    height:20px;
    position:absolute;
    top:0;
    right:0;
    text-align:center;
    line-height:20px;
    color:#fbe268;
    font-family:'open sans';
    font-size:2vh;
    border-left: 2px solid #e87c7c;
    max-width:220px;
}
.city{
    background-color:transparent;
    height:20px;
    position:absolute;
    top:0;
    left:5px;
    text-align:center;
    line-height:20px;
    color:#666;
    font-family:'open sans';
    font-size:2vh;
}
.thumb-element:hover .product-bar{
    height:100%;
    opacity:0.8;
}
.bar-n{
    background-color:#fff;
    position:absolute;
    width:100%;
    height:0px;
    opacity:0;
    top:0;
    left:0;
    filter:grayscale(0) !important;
    font-family:'open sans';
    -webkit-transition: all 200ms ease-out;
-moz-transition: all 200ms ease-out;
-ms-transition: all 200ms ease-out;
-o-transition: all 200ms ease-out;
transition: all 200ms ease-out;
}
.bar-s{
    background-color:#fff;
    position:absolute;
    width:100%;
    height:0px;
    opacity:0;
    bottom:0;
    left:0;
    filter:grayscale(0) !important;
    font-family:'open sans';
    -webkit-transition: all 200ms ease-out;
-moz-transition: all 200ms ease-out;
-ms-transition: all 200ms ease-out;
-o-transition: all 200ms ease-out;
transition: all 200ms ease-out;
}
.bar-w{
    background-color:#fff;
    position:absolute;
    width:0;
    height:100%;
    opacity:0;
    top:0;
    left:0;
    filter:grayscale(0) !important;
    font-family:'open sans';
    -webkit-transition: all 200ms ease-out;
-moz-transition: all 200ms ease-out;
-ms-transition: all 200ms ease-out;
-o-transition: all 200ms ease-out;
transition: all 200ms ease-out;
}
.bar-e{
   background-color:#fff;
    position:absolute;
    width:0;
    height:100%;
    opacity:0;
    bottom:0;
    right:0;
    filter:grayscale(0) !important;
    font-family:'open sans';
    -webkit-transition: all 200ms ease-out;
-moz-transition: all 200ms ease-out;
-ms-transition: all 200ms ease-out;
-o-transition: all 200ms ease-out;
transition: all 200ms ease-out; 
}